// Ban page
.ban-container {
  .weak {
    color: #888888;
  }

  ul.info-list {
    list-style: none;
    margin-left: 0;

    .key {
      font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
      font-weight: 300;
      font-style: normal;
      color: #333333;
      text-rendering: optimizeLegibility;
      font-size: 0.9rem;
    }
    .value {
      margin-left: 1rem;
    }
  }

  .appeal-comment {
    @include panel($padding: 8px);

    .meta {

    }
    .text {
      border-left: 1px #d9d9d9 solid;
      min-height: 3rem;
    }
  }

  .appeal-response {
    .text-area {
      height: 8rem;
      resize: vertical;
    }
    .submit, p {
      margin-bottom: 0;
    }
  }

  .ban-reason {
    position: relative;

    &:hover .button-panel {
      display: block !important;
    }

    .button-panel {
      position: absolute;
      top: 0;
      right: 0;
      display: none;
      background-color: #e2e2e2;
      padding: 3px;

      a {
        padding: 3px;
      }
    }
  }
}
