// Ban page
.ban-container {
  .weak {
    color: #888888;
  }

  ul.info-list {
    list-style: none;
    margin-left: 0;

    .key {
      font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
      font-weight: 300;
      font-style: normal;
      color: #333333;
      text-rendering: optimizeLegibility;
      font-size: 0.9rem;
    }
    .value {
      margin-left: 1rem;
    }
  }

  .appeal-comment {
    @include panel($padding: 8px);

    .meta {
      .label {
        margin-top: 5px;
      }
    }
    .text {
      border-left: 1px #d9d9d9 solid;
      min-height: 3rem;
    }
  }

  .appeal-response {
    .text-area {
      height: 8rem;
      resize: vertical;
    }
    .submit, p {
      margin-bottom: 0;
    }
  }

  .ban-reason, .appeal-comment {
    position: relative;

    &:hover .button-panel {
      display: block !important;
    }

    .view {
      position: relative;

      .button-panel {
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        a {
          color: rgba(0, 0, 0, 0.3);
          &:hover {
            color: rgba(0, 0, 0, 0.5);
          }
        }
      }

      .raw-markdown {
        display: none;
      }
      .appeal-reply-id, .ban-id {
        display: none;
      }
    }

    .edit {
      textarea {
        resize: vertical;
      }
      .appeal-reply-edit-textfield {
        min-height: 100px;
      }
      .ban-reason-edit-textfield {
        min-height: 16px;
      }
    }

  }

  .ban-reason .edit .button {
    margin-bottom: 0;
  }
}

//A FRONT
.anathema-front-container {
    a {
        font-size: 0.8em;
    }

}
