// Begin base template styles

// General
.full-width-table {
  width: 100%;
}

.player-name {
  color: #7154c8;
}

html, body {
  height: 100%;
}

// Top-bar gradient
.top-bar-container {
  -webkit-box-shadow: 0px 0px 8px 0px #111;
  box-shadow: 0px 0px 8px 0px #111;
}


// Top-bar message icon
.top-bar .messages a .fi-mail {
  font-size: 1.2em;
  line-height: 0;
  margin-right: 5px;
  line-break: 10px;
  vertical-align: -1px;
}

@media #{$medium-up} {
  .top-bar .messages a {
    padding-left: 40px;
  }
}

// Top-bar cross
.header-title-cross {
  padding-left: 32px !important;
}

.header-title-cross:before {
  position: absolute;
  content: "";
  width: 13px;
  height: 13px;
  background-size: 13px 13px;
  background-image: url("/static/img/junction-cross.svg");
  background-repeat: no-repeat;
  top: 17px;
  left: 15px;
}

.weak {
  color: #888888;
}

//Forum stuffs
@import "forum";
@import "anathema";
@import "footer";
@import "settings";
@import "donate";
@import "editable";
@import "api";
@import "user-info-box";
@import "notifications";

// Landing page
.landing-container {
  padding-top: 10%;

  p, h1, h3 {
    color: #FFFFFF;
    text-align: center;
  }
}

// Register page - Step 2
.register2-container {
  img {
    position: relative;
    top: -2px;
    margin-right: 4px;
  }
}

// Profile page
.profile-container {
  .forum-totals {
    line-height: rem-calc(20);
  }
  .tabs dd {
    border: {
      style: solid;
      width: rem-calc(1);
      color: #d9d9d9;
    }
  }
  .content {
    width: 100%;
  }
}
.edit-profile-container, .send-pm-container {
  textarea {
    height: rem-calc(250);
  }
}

// Notifications page
.notifications-container {
  table {
    width: 100%;
  }
}
