//.content {
//  min-height: 100%;
//}
.footer-wrapper {
  min-height: 100%;
  padding-bottom: 100px;
}

html, body {
  height: 100%;
}

@media #{$medium-up} {
  .footer-push {
    height: rem-calc(270);
  }
}
footer {
  padding-top: 30px;
  color: #666666;

  h5 {
    color: #858585;
  }
  a {
    color: #666666;
    &:hover {
      color: #777777;
    }
  }
  ul, p {
    font-size: rem-calc(12);
  }

  .footer-verybottom-container {
    padding-top: rem-calc(20);
    background: #222222;
  }
}