.footer-wrapper {
  min-height: 100%;
  padding-bottom: 100px;
}
footer {
  padding-top: 15px;
  color: #666666;
  h5 {
    color: #858585;
  }
  a {
    color: #666666;
    &:hover {
      color: #777777;
    }
  }
  ul, p {
    font-size: rem-calc(12);
  }
  .inline-list {
    margin-bottom: 0;
  }
  li {
    line-height: 2.2rem;
  }
}