// Forum pages
.forum-container {

  .forum-side-nav-container {
    .boards-pane {
      @include panel($padding: 0);
      .forum-nav {
        list-style-type: none;
        margin: 0;
        padding-top: 8px;
        padding-bottom: 8px;

        li {
          font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif !important;

          &.heading {
            padding: 1px 8px;
            text-transform: uppercase;
            font-size: 0.8rem;
            margin-top: 8px;
          }
          &:not(.heading) {
            padding: 2px 8px;
            font-size: 1rem;
            &:hover {
              background-color: #ededed;
            }
          }
          &.active {
            background-color: #eaeaea;
          }
        }
      }
    }
  }

  .topic-table {
    width: 100%;

    tbody {
      .topic-title {
        display: block;
      }
      .topic-by {
        display: block;
        font-size: 0.7rem;
      }

      .latest-container {
        height: 32px;

        img {
          height: 32px;
          width: 32px;
          float: left;
        }
        .post-info {
          height: 32px;
          float: left;
          padding-left: 5px;

          .post-user {
            display: block;
          }
          .post-date {
            display: block;
            line-height: 10px;
            font-size: 0.7rem;
          }
        }
      }
    }
  }

  .post-container {

    .post-pane {
      @include panel($padding: 6px);

      &:hover .button-panel {
        display: block !important;
      }

      .user-info-box-container {
        width: 115%;
      }

      .user-info-box-container-small {
        width: 100%;
      }

      .text {
        /* @media #{$medium-up} {
          border-left: 1px #d9d9d9 solid;
        } */
        min-height: 3rem;
        overflow: visible;

        .view {
          position: relative;

          .button-panel {
            display: none;
            position: absolute;
            top: 0;
            right: 0;
            a {
              color: rgba(0, 0, 0, 0.3);
              &:hover {
                color: rgba(0, 0, 0, 0.5);
              }
            }
          }

          .raw-markdown {
            display: none;
          }
          .post-id {
            display: none;
          }
        }

        .edit {
          .post-edit-textfield {
            min-height: 100px;
          }
        }
      }
    }
  }
  .post-reply {
    .text-area {
      height: 8rem;
      resize: vertical;
    }
    .submit, p {
      margin-bottom: 0;
    }
  }
}
// Board/Topic Post/Reply
.board-post-container, .topic-reply-container, .reply-edit-container {
  textarea {
    height: rem-calc(250);
  }
}
