// Side nav (stolen from forums :P)
  .settings-side-nav-container {
    .settings-pane {
      @include panel($padding: 0);
      .settings-nav {
        list-style-type: none;
        margin: 0;
        padding-top: 8px;
        padding-bottom: 8px;

        li {
          font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif !important;

          &.heading {
            padding: 1px 8px;
            text-transform: uppercase;
            font-size: 0.8rem;
            margin-top: 8px;
          }
          &:not(.heading) {
            padding: 2px 8px;
            font-size: 1rem;
            &:hover {
              background-color: #ededed;
            }
          }
          &.active {
            background-color: #eaeaea;
          }
        }
      }
    }
  }

img.tfa-pane {
  border: 1px solid #d9d9d9;
}

@media (min-width: 435px) {
  .tfa-small { display: none; }
}

@media (max-width: 434px) {
  .tfa-large { display: none; }
}


// API Settings
.api-settings-container {
  .button {
    margin-bottom: 0;
  }
  table {
    width: 100%;
  }
}


// API Settings Edit
.ms-container {
  background: transparent url('/static/img/switch.png') no-repeat 50% 50%;
  width: rem-calc(370);

  &:after {
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    font-size: 0;
    clear: both;
    min-height: 0;
    visibility: hidden;
  }

  .ms-selectable, .ms-selection {
    float: left;
    width: 45%;

    li.ms-hover {
      cursor: pointer;
      color: #fff;
      text-decoration: none;
      background-color: #008cba;
    }
  }

  .ms-selection {
    float: right;
  }

  .ms-list {
    background: #fff;
    border: {
      style: solid;
      width: rem-calc(1);
      color: #d9d9d9;
    }
    margin: rem-calc(5 0 20);
    position: relative;
    height: rem-calc(200);
    padding: 0;
    overflow-y: auto;

    &.ms-focus {
      outline: 0;
    }
  }

  ul {
    margin: 0;
    list-style-type: none;
    padding: 0;
  }

  .ms-selectable li.ms-elem-selectable,
  .ms-selection li.ms-elem-selection {
    border-bottom: rem-calc(1) #d9d9d9 solid;
    padding: rem-calc(2 10);
  }
}
