{% extends "base_new.html" %}

{% set title = 'Forum - Post Reply' %}

{% set breadcrumb_items = [
{'title': 'Forums'},
{'title': forum.name, 'url': forum.get_url()},
{'title': board.name, 'url': board.get_url()},
{'title': topic.title, 'url': topic.get_url()},
{'title': "Post Reply", 'url': topic.get_post_url()}]
%}

{% block content %}
<form class="topic-reply-container" method="post" action="" data-abide>
    {{ form.hidden_tag() }}
    {%- if form.errors %}
    <div class="row">
        <div class="small-12 columns">
            {%- for error_field in form.errors.values() %}
            {%- for error in error_field %}
            <div class="alert-box alert radius">
                {{ error }}
                <a href="#" class="close">&times;</a>
            </div>
            {%- endfor %}
            {%- endfor %}
        </div>
    </div>
    {% endif %}
    <div class="row">
        <div class="small-12 columns">
            <label>Content <small>Required</small></label>
            {{ form.content(placeholder="Post body", required="") }}
            <small class="error">Please enter some text.</small>
        </div>
    </div>
    <div class="row">
        <div class="small-12 columns">
            <button type="submit">Submit</button>
            <p><a href="#" data-reveal-id="format-help-modal">Formatting help?</a></p>
        </div>
    </div>
</form>
{% include 'format_help_modal.html' %}
{% endblock %}
