{% extends "forum_base.html" %}

{% set title = 'Forum - ' + board.name %}

{% set breadcrumb_items = [
    {'title': 'Forums'},
    {'title': forum.name, 'url': forum.get_url()},
    {'title': board.name, 'url': board.get_url()}]
%}

{% block forum_content %}
<div class="container">
    {%- if current_user.is_authenticated() %}
    <div class="row">
        <div class="span12">
            <a class="btn btn-theme" type="submit" href="{{ board.get_post_url() }}">Post New Topic</a>
        </div>
    </div>
    {%- endif %}
    <div class="row">
        <div class="span12">
            <div class="box">
                <table class="table table-condensed table-striped table-hover">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Topic</th>
                            <th>Posted</th>
                            <th>Most Recent</th>
                        </tr>
                    </thead>
                    <tbody>
                        {%- for topic in topics %}
                        {%- set last_post = topic.get_last_post() %}
                        <tr>
                            <td>
                                {%- if read_topics != None %}
                                {%- if topic.id in read_topics %}
                                <small style="color: #cccccc">!</small>
                                {%- else %}
                                <small>!</small>
                                {%- endif %}
                                {%- endif %}
                            </td>
                            <td>
                                <a href="{{ topic.get_url() }}">{{ topic.title }}</a>
                            </td>
                            <td>
                                <a href="{{ topic.author.get_profile_url() }}">{{ topic.author.name }}</a>
                            </td>
                            <td>
                                {{ last_post.get_pretty_date() }}
                                by
                                <a href="{{ last_post.author.get_profile_url() }}">{{ last_post.author.name }}</a>
                            </td>
                        </tr>
                        {%- endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <div class="pagination">
                <ul>
                    <li class="{% if not prev %}disabled{% endif %}">
                        <a href="{{ prev or '#' }}">Prev</a>
                    </li>
                    {%- for link in links %}
                    <li class="{% if link['active'] %}active{% endif %}">
                        <a href="{{ link['url'] }}">{{ link['num'] }}</a>
                    </li>
                    {%- endfor %}
                    <li class="{% if not next %}disabled{% endif %}">
                        <a href="{{ next or '#' }}">Next</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}
