{% extends "forum_base.html" %}

{% set title = 'Forum - View Topic' %}

{% set breadcrumb_items = [
{'title': 'Forums'},
{'title': forum.name, 'url': forum.get_url()},
{'title': board.name, 'url': board.get_url()},
{'title': topic.title, 'url': topic.get_url()}]
%}

{% block content %}
<div class="container">
    <div class="row" style="margin-bottom: 15px">
        <div class="span12">
            <div class="pull-left">
                <h3 class="nobreak">{{ topic.title }}</h3>
            </div>
            <div class="pull-right">
                {% if current_user.is_authenticated() %}
                <a class="btn btn-small" type="submit" href="#post-reply">Post New Reply</a>
                {% endif %}
            </div>
        </div>
    </div>
{% for post in posts %}
    <div id="post-{{post.id}}" class="row post-root">
        <div class="span12">
            <div class="box" style="padding: 0 6px 10px 6px;">
                <div class="row-fluid nobreak">
                    <div class="span12" style="border-bottom: 1px solid #dddddd; padding-left: 2px; padding-top: 5px; padding-bottom: 5px;">
                        <div class="pull-left">
                            <span>by <a href="{{ post.author.get_profile_url() }}">{{ post.author.name }}</a> {{ post.date|pretty_date }}</span>
                        </div>
                        <div class="pull-right">
                            <a href="#post-{{ post.id }}">permalink</a>
                            {% if current_user.is_authenticated() %}
                            <a class="quote-link" href="#">quote</a>
                            {% endif %}
                            {% if post.can_edit(current_user) %}
                            <a class="edit-link" href="{{ url_for('forum.edit_post', post_id=post.id) }}">edit</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="row-fluid" style="margin-bottom: 0;">
                    <div class="span2 forum-post-left"><img src="{{ url_for('avatar.get_avatar', name=post.author.name) }}" /></div>
                    <div class="span10 forum-post-right">
                        <div class="forum-post-rendered">{{ post.content|markdown|safe }}</div>
                        <div class="forum-post-raw">{{ post.content|escape }}</div>
                        <div class="forum-post-edit">
                            <form action="{{ url_for('forum.edit_post', post_id=post.id) }}" method="post">
                                {{ topic_reply_form.hidden_tag() }}

                                <div class="widget">
                                    <textarea name="content"></textarea>
                                </div>
                                <button class="btn btn-theme" type="submit">Submit</button>
                            </form>
                        </div>

                        <!-- {{ post.id }} -->
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
    {% if current_user.is_authenticated() %}
    <div id="post-reply" class="row">
        <div class="span12">
            <div class="box">
                <h5 class="nobreak">Reply</h5>
                <form method="post" action="{{ topic.get_post_url() }}">

                    {{ topic_reply_form.hidden_tag() }}

                    {% if topic_reply_form.errors %}
                    <div class="widget">
                        {% for error_field in topic_reply_form.errors.values() %}
                        {% for error in error_field %}
                        <div class="alert alert-error">
                            <button type="button" class="close" data-dismiss="alert">×</button>
                            {{ error }}
                        </div>
                        {% endfor %}
                        {% endfor %}
                    </div>
                    {% endif %}
                    <div class="widget">
                        {{ topic_reply_form.content(class="input-block-level", placeholder="Post body") }}
                    </div>
                    <div class="widget">
                        <button class="btn btn-success btn-small pull-left marginlr5" type="submit">Submit</button>
                        <p class="pull-left"><a href="#format-help-modal" role="button" data-toggle="modal">Formatting help?</a></p>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% endif %}
    <div class="row">
        <div class="span12">
            <div class="pagination">
                <ul>
                    <li class="{% if not prev %}disabled{% endif %}">
                        <a href="{{ prev or '#' }}">Prev</a>
                    </li>
                    {% for link in links %}
                    <li class="{% if link['active'] %}active{% endif %}">
                        <a href="{{ link['url'] }}">{{ link['num'] }}</a>
                    </li>
                    {% endfor %}
                    <li class="{% if not next %}disabled{% endif %}">
                        <a href="{{ next or '#' }}">Next</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div id="format-help-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="format-help-modal-label" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Markdown Help</h3>
    </div>
    <div class="modal-body">
        <p>Junction uses a version of Markdown for formatting, much like reddit. Here are some basics to get ya started.</p>
        <table class="table table-bordered table-condensed table-striped">
            <thead>
                <tr>
                    <th class="span6">
                        You Type
                    </th>
                    <th class="span6">
                        You Get
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>*italics*</th>
                    <th><em>italics</em></th>
                </tr>
                <tr>
                    <th>**bold**</th>
                    <th><strong>bold</strong></th>
                </tr>
                <tr>
                    <th>(link)[https://junction.at]</th>
                    <th><a href="https://junction.at">link</a></th>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}