{% extends "forum_base.html" %}
{% block title %} Python Forum - New Topic {% endblock %}
{% block content %}

    <div class="row">
	<div class="span12">
		<div class="well">
			<h3>Post a new topic</h3>
			<form method="post">
                <input name="title" type="text" placeholder="Title">
				<div class="_wysiwygfix">
					<textarea name="reply"></textarea>
					<br /><input type="forum.submit" value="Post New Topic" name="submit" class="btn btn-primary btn-large"/>
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock %}