{% extends "base_newer.html" %}

{% set title = 'Forum - Post Topic' %}

{% set current_page = 'forum' %}

{% set breadcrumb_items = [
{'title': 'Forums'},
{'title': forum.name, 'url': forum.get_url()},
{'title': board.name, 'url': board.get_url()},
{'title': "Post Topic", 'url': board.get_post_url()}]
%}

{% block content %}
<form class="container" method="post" action=".">
    {% if form.errors %}
    <div class="row">
        <div class="span12">
            {% for error_field in form.errors.values() %}
                {% for error in error_field %}
                <div class="alert alert-error">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    {{ error }}
                </div>
                {% endfor %}
            {% endfor %}
        </div>
    </div>
    {% endif %}
    <div class="row">
        <div class="span12">
            <label>Title <span>*</span></label>
            {{ form.title(class="input-block-level", placeholder="Post title") }}
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <label>Content <span>*</span></label>
            {{ form.content(class="input-block-level", placeholder="Post body", rows="12", style="resize: horizontal;") }}
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <button class="btn btn-theme" type="submit">Submit</button>
        </div>
    </div>
</form>
{% endblock %}
