{% extends "forum_base.html" %}

{% set title = board.name + ' - Forum' if board else 'Latest Posts - Forum' %}
{% set breadcrumb_items = [
{'title': 'Forums', 'url': url_for('forum.forum_landing')},
{'title': forum.name, 'url': forum.get_url()}]
%}

{% block forum_content %}
    <div class="row">
        <div class="small-12 columns">
            {%- if forum_menu_current != 'latest' %}
            <h4 class="left">{{ board.name }}</h4>
            {%- if current_user.is_authenticated() %}
            <a class="button tiny right" href="{{ board.get_post_url() }}">Post New Topic</a>
            {%- else %}
            <a class="button tiny right disabled" href="#">Sign in to post a topic</a>
            {%- endif %}
            {%- else %}
            <h4>Latest Posts</h4>
            <p>Want to post? Navigate to one of the boards on the left, or at the bottom if you're on mobile.</p>
            {%- endif %}
        </div>
    </div>
    <table class="topic-table">
        <thead>
            <tr>
                <th>Topic</th>
                <th width="200px">Latest</th>
            </tr>
        </thead>
        <tbody>
            {%- for topic in topics %}
                <tr>
                    <td>
                        <a class="topic-title" href="{{ topic.get_url() }}">{{ topic.title }}</a>
                        <span class="topic-by"><a class="player-name" href="{{ topic.author.get_profile_url() }}">{{ topic.author.name }}</a> <span>{{ topic.date|full_date|safe }}</span></span>
                    </td>
                    <td>
                        <div class="latest-container">
                            {%- set latest_post = topic.get_last_post() %}
                            <img src="{{ latest_post.author.get_avatar_url() }}">
                            <div class="post-info">
                                <a class="post-user player-name" href="{{ latest_post.author.get_profile_url() }}">{{ latest_post.author.name }}</a>
                                <a class="post-date" href="{{ latest_post.get_post_url() }}">{{ latest_post.date|full_date|safe }}</a>
                            </div>
                        </div>
                    </td>
                </tr>
            {%- endfor %}
        </tbody>
    </table>
{% endblock %}
