{% extends "base.html" %}
{% block head %}
<title>Junction Forum - {{ topic.title }}</title>
{% endblock %}
{% block content %}
<h3 class="well"> <a href="{{ url_for('forum.index') }}">Python Forum</a> - {{ topic.title }}</h3>
<ul class="_posts">
    {% for post in topic.posts %}
        <li>
            <div class="well">
                <div class="row">
                    <div class="span3">
                        <img src="http://placehold.it/200x200" alt=""/>
                        <h3>{{ post.author.username }}</h3>
                        <p>Additional Info</p>
                    </div>
                    <div class="span8 _justify">
                        {{ post.content }}
                    </div>
                </div>
            </div>
        </li>
    {% endfor %}
    <form name="reply" action="{{ url_for('forum.reply', topic_id=topic.topic_uuid) }}" method="get">
        <input type="submit" value="Reply to topic" name="submit" class="btn btn-primary btn-large"/>
    </form>
</ul>
{% endblock %}
