{% extends "base.html" %}
{% block head %}
<title>Junction Forum - {{ topic.title }}</title>

<style>

</style>
{% endblock %}
{% block content %}
<div class="grid_12 pane">
    <h3 class="well"> <a href="{{ url_for('forum.index') }}">Python Forum</a> - {{ topic.title }}</h3>
    <ul class="_posts">
        {% for post in topic.posts %}
            <li>
                <div class="well">
                    <div class="row">
                        <div class="span3">
                            <h3>{{ post.author.name }}</h3>
                            <p>Additional Info</p>
                        </div>
                        <div class="span8 _justify">
                            {{ post.content }}
                        </div>
                    </div>
                </div>
            </li>
        {% endfor %}
        <div class="well">
            <h3>Post a reponse</h3>
            <form method="post" action="/forum/reply/{{ topic.topic_url_id }}">
                <div class="_wysiwygfix">
                    <textarea name="reply"></textarea>
                    <br /><input type="submit" value="Post Response" name="submit" class="btn btn-primary btn-large"/>
                </div>
            </form>
        </div>
    </ul>
</div>
{% endblock %}
