{% extends "base.html" %}
{% block head %}
<title>Junction Forum - New Topic</title>

<script type="text/javascript" src="/static/forum/Markdown.Converter.js"></script>
<script type="text/javascript" src="/static/forum/Markdown.Sanitizer.js"></script>
<script type="text/javascript" src="/static/forum/Markdown.Editor.js"></script>

<style>
    .post-form {
        margin: 10px;
    }
    #wmd-preview {
        padding: 5px;
        min-height: 20px;
        background-color: #f8f8f8;
        margin-bottom: 0;
        margin-top: 10px;
    }
    #wmd-input {
        width: 100%;
        height: 200px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        resize: vertical;
    }
    .btn-primary {
        float: right;
        margin: 10px;
        margin-top: 0;
        border: solid;
        border-width: 1px;
        border-color: #d4d4d4;
        padding: 5px;
    }
    #wmd-button-bar ul {
        padding: 1px;
        margin-bottom: 1px;
    }
    #wmd-button-bar ul li {
        background-color: #007DC6;
        width: 30px;
        height: 30px;
        display: inline;
        list-style-type: none;
        margin-right: 3px;
        margin-left: 3px;
    }
</style>
{% endblock %}
{% block content %}
<div class="grid_12 pane">
	<h3>Post a new topic</h3>
	<form method="post" class="post-form">
        <input name="title" type="text" placeholder="Title">
        <div id="wmd-button-bar"></div>
        <textarea name="reply" class="wmd-input" id="wmd-input"></textarea>
        <div id="wmd-preview" class="wmd-panel wmd-preview"></div>
        <br /><input type="submit" value="Post New Topic" name="submit" class="btn btn-primary btn-large"/>
	</form>
</div>
<script type="text/javascript">
(function () {
    var converter1 = Markdown.getSanitizingConverter();
    var editor1 = new Markdown.Editor(converter1);
    editor1.run();
})();
</script>
{% endblock %}