<!DOCTYPE html>
<html>
<head>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="https://browserid.org/include.js" type="text/javascript"></script>
    <script type="text/javascript">{
        {
            auth_script | safe
        }
    }</script>
</head>
<body>
{% if current_user.is_authenticated() %}
<h3>Logged in as {{ current_user.email }}</h3>
<!-- TODO: Create a pretty logout button -->
<button id="browserid-logout">Logout</button>
{% else %}
<img id="browserid-login" src="{{ url_for('static', filename='login.png') }}">
{% endif %}
</body>
</html>
