{% extends "forum_base.html" %}

{% block title %}Python Forum - You broke it you fool.{% endblock %}
{% block content %}
    <div class="well" xmlns="http://www.w3.org/1999/html">
        <h1 style="text-align: center;">Post was a failure!</h1>
        <p style="text-align: center;">Post was not submitted sucessfully :( Try again in a moment or report this as a bug! - Click
            <a href="{{ url_for('forum.topic', topic_uuid=topic_uuid) }}">Here</a> to return to the topic<br>
     </div>
{% endblock %}