{% extends "base_newer.html" %}

{% set title = 'Forum' %}

{% set current_page = 'forum' %}

{% set breadcrumb_items = [{'title': 'Forums'}, {'title': forum.name, 'url': forum.get_url()}] %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="span8">
            {% for category in categories %}
            <aside>
                <div class="widget">
                    <h5 class="">{{ category.name }}</h5>
                    <span>{{ category.description }}</span>
                    <br />
                    <table class="table table-condensed">
                        <thead>
                            <tr>
                                <th>Board</th>
                                <th>Last</th>
                                <th>Topics</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for board in category.get_boards() %}
                            {% set last_topic = board.get_last() %}
                            <tr>
                                <th><a href="{{ board.get_url() }}">{{ board.name }}</a></th>
                                {% if last_topic %}
                                <th><a href="{{ last_topic.get_url() }}">{{ last_topic.title }}</a> by <a href="{{ last_topic.author.get_profile_url() }}">{{ last_topic.author.name }}</a></th>
                                {% else %}
                                <th>No topics :(</th>
                                {% endif %}
                                <th>{{ board.get_topic_count() }} Topics</th>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <!-- <ul class="group-boards">
                        {% for board in category.boards %}
                        <li><a href="{{ url_for('forum.forum_category', board_id=board.board_id) }}">{{ board.name }}</a></li>
                        {% endfor %}
                    </ul> -->
                </div>
            </aside>
            {% endfor %}
        </div>
        <div class="span4">
            <aside>
                <div class="widget">
                    <h4 class="rheading">
                        Recent Topics
                        <span></span>
                    </h4>
                    <ul class="recent-posts">
                        {% for topic in recent_topics %}
                        <li>
                            <a href="{{ topic.get_url() }}">{{ topic.title }}</a>
                            <div class="clear">
                            </div>
                            <span class="date"><i class="icon-calendar"></i> {{ topic.get_pretty_date() }}</span>
                            <span class="comment"><i class="icon-comment"></i> {{ topic.get_replies() }} Replies</span>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </aside>
        </div>
    </div>
</div>
{% endblock %}
