{% extends "base.html" %}

{% block topleft %}
	<p style="color: #cccccc;" >Control Panel</p>
{% endblock %}

{% block accountnav %}
	<p><a href="/logout">Log Out</a></p>
{% endblock %}

{% block content %}
	<form accept-charset="UTF-8" action="" method="post">
	  <div class="field text-field">
	    <label for="user_session_password">New Password</label><br />
	    <input class="text-field" name="newpassword" size="30" type="password" />
	  </div>
      <div class="field text-field">
	    <label for="user_session_password">Repeat Password</label><br />
	    <input class="text-field" name="newpassword1" size="30" type="password" />
	  </div>
	  <div class="actions">
	    <input class="button" name="commit" type="submit" value="Login" />
	  </div>
</form>
{% endblock %}