{% extends "base.html" %}

{% set breadcrumb_items = [
{'title': 'Login', 'url': url_for('auth.login')}]
%}

{% set current_page = 'profile' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="offset4 span4">
            <div class="box">
                <h3 class="rheading">Log in to Junction <span></span></h3>
                <form action="" method="post">
                    {%- for error_field in form.errors.values() %}
                    {%- for error in error_field %}
                    <div class="alert alert-error">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        {{ error }}
                    </div>
                    {%- endfor %}
                    {%- endfor %}
                    <div class="widget">
                        {{ form.username(placeholder=form.username.label.text) }}
                    </div>
                    <div class="widget">
                        {{ form.password(placeholder=form.password.label.text) }}
                    </div>
                    <div class="widget">
                        <label class="checkbox">
                            {{ form.remember() }} {{ form.remember.label.text }}
                        </label>
                    </div>
                    <button class="btn btn-theme" type="submit">Log in</button>
                </form>
                <p>Don't have an account? <a href="{{ url_for('auth.register_start') }}">Create one</a>!</p>
                <p>Forgot your password? Contact a tech.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
