{% extends "base.html" %}

{% set breadcrumb_items = [
{'title': 'Refresh Login', 'url': url_for('auth.reauth')}]
%}

{% set current_page = 'profile' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="offset4 span4">
            <div class="box">
                <h3 class="rheading">Refresh Login <span></span></h3>
                <p class="widget">
                    We need to verify your password before you can do this.
                </p>
                <form style="margin: 0;" accept-charset="UTF-8" action="" method="post">
                    {%- for error_field in form.errors.values() %}
                    {%- for error in error_field %}
                    <div class="alert alert-error">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        {{ error }}
                    </div>
                    {%- endfor %}
                    {%- endfor %}
                    <div class="widget">
                        {{ form.hidden_tag() }}
                        {{ form.password(placeholder=form.password.label.text) }}
                    </div>
                    <div class="widget">
                        <button class="btn btn-theme">Refresh Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
