{% extends "base_new.html" %}

{% set breadcrumb_items = [
{'title': 'Refresh Login', 'url': url_for('auth.reauth')}]
%}

{% set current_page = 'profile' %}

{% block content %}
<div class="reauth-container">
    <div class="row">
        <div class="small-12 medium-4 medium-offset-4">
            <div class="panel">
                <h3>Refresh Login</h3>
                <p>We need to verify your password before you can do this.</p>
                <form action="" method="post" data-abide>
                    {%- for error_field in form.errors.values() %}
                    {%- for error in error_field %}
                    <div class="alert-box alert radius" data-alert>
                        {{ error }}
                        <a href="#" class="close">&times;</a>
                    </div>
                    {%- endfor %}
                    {%- endfor %}
                    {{ form.hidden_tag() }}
                    {{ form.password(placeholder=form.password.label.text, required='') }}
                    <small class="error">A password is required.</small>
                    <button type="submit">Refresh Login</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
