{% extends "base.html" %}

{% set breadcrumb_items = [
{'title': 'Sign up'}]
%}

{% set current_page = 'profile' %}

{% block content %}
<div class="register1-container">
    <div class="row">
        <div class="small-12 medium-4 medium-offset-4 columns">
            <div class="panel">
                <h3>Sign up</h3>
                <form onsubmit="window.location.href='/register/'+$('#username-field').val(); return false;" data-abide>
                    <input type="text" id="username-field" required placeholder="In-Game Username">
                    <small class="error">A username is required.</small>
                    <button>Go</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
