{% extends "base_newer.html" %}

{% set breadcrumb_items = [
{'title': 'Sign up'}]
%}

{% block content %}
<div class="container">
    <div class="row">
        <div class="offset3 span6">
            <div class="box center">
                <p>Please connect to <code>auth.junction.at</code> as <code>{{ username }}</code>.</p>
                <p>This page will automatically update when you are done.</p>
                <strong><img style="position: relative; top: -2px; margin-right: 4px;" src="/static/img/throbber.gif"> Waiting for connection...</strong>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
<script>
    function do_pooling() {
        $.ajax({
            url: "{{ url_for('auth.check_authenticated_req', username=username) }}",
            dataType: "text",
            success: function(data, status, event) {
                if(data == "YES") {
                    document.location.reload(true);
                }
            },
            complete: function(event, status) {
                window.setTimeout(do_pooling, 3000);
            }
        })
    }

    do_pooling();
</script>
{% endblock %}
