{% extends "base.html" %}

{% block head %}
<script src="{{ url_for('auth.static', filename='verifynotify.js') }}"></script>
<script>
  $(document).ready(function() {
    $("input[type='text']:first", document.forms[0]).focus();
  });
</script>
<script>
  $(function() {
    $('[name=password_match]').keyup(function() { 
      verify.check();
    });
  });
</script>
{% endblock %}

{% block topleft %}
<h1>Register</h1>
{% endblock %}

{% from 'formhelpers.html' import render_field %}

{% block content %}
<div class="grid_4 prefix_4">
  <form name=registerform action="{{ url_for('auth.register', ext='html') }}" method=post>
    {{ render_field(form.username) }}
    {{ render_field(form.mail) }}
    {{ render_field(form.password) }}
    {{ render_field(form.password_match) }}
    <p id="passwordstate"></p>
    <input type=submit onclick="return verify.canProceed();">
  </form>
</div>

<script type="text/javascript">
  verify = new verifynotify();
  verify.field1 = document.registerform.password;
  verify.field2 = document.registerform.password_match;
  verify.result_id = "passwordstate";
</script>

{% endblock %}

{% block footer %}
{% endblock %}
