{% extends "base.html" %}

{% set breadcrumb_items = [
{'title': 'Sign up'}]
%}

{% set current_page = 'profile' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="offset4 span4">
            <div class="box">
                <h3 class="rheading">Sign up <span></span></h3>
                <form method="post" action="" style="margin-bottom:0;">
                    {{ form.hidden_tag() }}
                    <p>Thanks, <strong>{{ username }}</strong>! Please complete your sign-up below.</p>
                    {%- for error_field in form.errors.values() %}
                    {%- for error in error_field %}
                    <div class="alert alert-error">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        {{ error }}
                    </div>
                    {%- endfor %}
                    {%- endfor %}
                    {{ form.mail(placeholder=form.mail.label.text) }}
                    {{ form.password(placeholder=form.password.label.text) }}
                    {{ form.password_repeat(placeholder=form.password_repeat.label.text) }}
                    {{ form.submit(class="btn btn-theme") }}
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
