{% extends "base.html" %}
{% from 'formhelpers.html' import render_field %}

{% block topleft %}
<h1>Register</h1>
{% endblock %}

{% block content %}
<form class="grid_4 prefix_4" name=registerform action="{{ url_for('auth.register', ext='html') }}" method=post>
  <div class=pane>
    {{ render_field(form.username) }}
    {{ render_field(form.mail) }}
    {{ render_field(form.password) }}
    {{ render_field(form.password_match) }}
    <p id=passwordstate></p>
    <p><input type=submit onclick="return verify.canProceed();"></p>
  </div>
</form>
<script src="{{ url_for('auth.static', filename='verifynotify.js') }}"></script>
<script>
  verify = new verifynotify();
  verify.field1 = document.registerform.password;
  verify.field2 = document.registerform.password_match;
  verify.result_id = "passwordstate";
  document.registerform.password_match.onkeyup = function() { verify.check() };
</script>
{% endblock %}
