{% extends "base.html" %}

{% block head %}
	<script src="./static/verifynotify.js" type="text/javascript"></script>
	<script>
		$(document).ready(function() {
			$("input[type='text']:first", document.forms[0]).focus();
		});
	</script>
	<script>
		$(function() {
		    $('.password1').keyup(function() { 
		        verify.check();
		    });
		});
	</script>
{% endblock %}

{% block topleft %}
	<p style="color: #cccccc;" >Register (Step 1 of 2)</p>
{% endblock %}

{% block accountnav %}
	<p><a href="/login" data-skip-pjax="true">I already have an account</a></p>
{% endblock %}

{% block content %}
<form accept-charset="UTF-8" action="" method="post" name="registerform" >
	  <input type="hidden" name="regstage" value="1">
	  <div class="field text-field">
	    <label for="user_session_login">Minecraft Username</label><br />
	    <input class="text-field" name="username" size="30" type="text" />
	  </div>
	  <div class="field text-field">
	    <label for="user_session_login">E-mail Adress</label><br />
	    <input class="text-field" name="mail" size="50" type="text" />
	  </div>
	  <br />
	  <div class="field text-field">
	    <label for="user_session_password">Password</label><br />
	    <input class="text-field" name="password1" size="30" type="password" onKeyUp="verify.check();") />
	  </div>
	  <div class="field text-field">
	    <label for="user_session_password">Repeat Password</label><br />
	    <input class="text-field" name="password2" size="30" type="password" onKeyUp="verify.check();") />
	  </div>
	  <p id="passwordstate"></p>
	  <div class="actions" align="right">
	    <input class="button" name="commit" type="submit" value="Next step" onclick="return verify.canProceed();" />
	  </div>
</form>

<script type="text/javascript">
	verify = new verifynotify();
	verify.field1 = document.registerform.password1;
	verify.field2 = document.registerform.password2;
	verify.result_id = "passwordstate";

	verify.check();

</script>

{% endblock %}

{% block footer %}
<p>Tip: Your password on the Junction does not need to be the same as your minecraft password.</p>
{% endblock %}