{% extends "base.html" %}

{% set breadcrumb_items = [
{'title': 'Sign up'}]
%}

{% set current_page = 'profile' %}

{% block content %}
<div class="register2-container">
    <div class="row">
        <div class="small-12 medium-6 medium-offset-3 columns">
            <div class="panel text-center">
                <p>Please connect to <code>auth.junction.at</code> in Minecraft as <code>{{ username }}</code>.</p>
                <p>This page will automatically update when you are done.</p>
                <strong><img src="/static/img/throbber.gif"> Waiting for connection...</strong>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
<!-- TODO: move api url to url_for -->
<script>
    function do_pooling() {
        $.ajax({
            url: "/api/auth/ip_username_verification",
            dataType: "json",
            cache: false,
            data: {
                username: "{{ username }}"
            },
            success: function(data, status, event) {
                if(data["verified"] == true) {
                    document.location.reload(true);
                }
            },
            complete: function(event, status) {
                window.setTimeout(do_pooling, 3000);
            }
        })
    }

    do_pooling();
</script>
{% endblock %}
