{% extends "base_newer.html" %}

{% set current_page = 'profile' %}

{% set breadcrumb_items = [
{'title': 'Profile'},
{'title': user.name, 'url': user.get_profile_url()},
{'title': 'Change password'}]
%}

{% block content %}
<div class="container">
    <div class="row">
        <div class="offset4 span4">
            <div class="box">
                <h3 class="rheading">Change your password <span></span></h3>
                <form style="margin: 0;" method=post>
                    {% if form.errors.values() %}
                    <div class="alert alert-error">
                        {{ form.errors.values()[0][0] }}
                    </div>
                    {% endif %}
                    <div class="widget">
                        {{ form.password(placeholder=form.password.label.text) }}
                    </div>
                    <div class="widget">
                        {{ form.password_match(placeholder=form.password_match.label.text) }}
                    </div>
                    <button class="btn btn-theme" type="submit">Change your password</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
