{% extends "settings_base.html" %}

{% set current_settings_path = [{'title': "Account"}, {'title': "Change Password", 'url': url_for('auth.setpassword')}] %}
{% set current_settings_pane = "setpassword" %}

{% block settings_pane %}
<div class="panel">
    <h3>Change your password</h3>
    <form method="post" action="?">
        {{ form.hidden_tag() }}
        {%- for error_field in form.errors.values() %}
        {%- for error in error_field %}
        <div class="alert-box alert radius" data-alert>
            {{ error }}
            <a href="#" class="close">&times;</a>
        </div>
        {%- endfor %}
        {%- endfor %}
        {{ form.password(placeholder=form.password.label.text) }}
        {{ form.password_match(placeholder=form.password_match.label.text) }}
        <button type="submit">Change your password</button>
    </form>
</div>
{% endblock %}
