{% extends "base_newer.html" %}
{% from 'formhelpers.html' import render_field %}

{% block topleft %}
<h1>Set password</h1>
{% endblock %}

{% block content %}
<form class="grid_4 prefix_4" name=setpassword action="{{ url_for('auth.setpassword') }}" method=post>
  <div class=pane>
    {{ render_field(form.password) }}
    {{ render_field(form.password_match) }}
    <p id=passwordstate></p>
    <input type=submit onclick="return verify.canProceed();">
  </div>
</form>
<script src="{{ url_for('auth.static', filename='verifynotify.js') }}"></script>
<script>
  verify = new verifynotify();
  verify.field1 = document.setpassword.password;
  verify.field2 = document.setpassword.password_match;
  verify.result_id = "passwordstate";
  document.setpassword.password_match.onkeyup = function() { verify.check() };
</script>
{% endblock %}
