{% extends "settings_base.html" %}

{% set current_settings_path = [{'title': "Account"}, {'title': "Change Password", 'url': url_for('auth.setpassword')}] %}
{% set current_settings_pane = "setpassword" %}

{% block settings_pane %}
<div class="box">
    <h3 class="rheading">Change your password <span></span></h3>
    <form style="margin-bottom: 0;" method=post>
        {{ form.hidden_tag() }}
        {%- for error_field in form.errors.values() %}
        {%- for error in error_field %}
        <div class="alert alert-error">
            <button type="button" class="close" data-dismiss="alert">×</button>
            {{ error }}
        </div>
        {%- endfor %}
        {%- endfor %}
        <div class="widget">
            {{ form.password(placeholder=form.password.label.text) }}
        </div>
        <div class="widget">
            {{ form.password_match(placeholder=form.password_match.label.text) }}
        </div>
        <button class="btn btn-theme" type="submit">Change your password</button>
    </form>
</div>
{% endblock %}
