{% extends "base.html" %}

{% block topleft %}
	<h1>Register (Step 2 of 2)</h1>
{% endblock %}

{% from 'formhelpers.html' import render_field %}

{% block content %}
<form action="{{ url_for('auth.activatetoken', ext='html') }}" method=post>
  <p>Fire up Minecraft, and connect to the server <span style="white-space: nowrap;">"{{ auth_server }}"</span>.</p>
  <p>You should be kicked, and given a Validation Token. <br>Please enter it below.</p>
  {{ render_field(form.password) }}
  {{ render_field(form.token) }}
  <input type=submit>
</form>
{% endblock %}
