{% extends "base.html" %}

{% block topleft %}
	<p style="color: #cccccc;" >Register (Step 2 of 2)</p>
{% endblock %}

{% block accountnav %}
	<p><a href="{{ url_for('auth.login', ext='html') }}" data-skip-pjax="true">I already have an account</a></p>
{% endblock %}

{% from 'formhelpers.html' import render_field %}

{% block content %}
<form accept-charset="UTF-8" action="{{ url_for('auth.activatetoken', ext='html') }}" method="post">
  <p>Fire up Minecraft, and connect to the server <span style="white-space: nowrap;">"{{ auth_server }}"</span>.</p>
  <p>You should be kicked, and given a Validation Token. <br>Please enter it below.</p>
  {{ render_field(form.password) }}
  {{ render_field(form.token) }}
  <div class="actions" align="right">
    <input class="button" name="commit" type="submit" value="Finish registration" />
  </div>
</form>
{% endblock %}
