{% from 'profilehelpers.html' import render_profile_tiny -%}
{% if can_switch(): -%}
{% if request.path.startswith('/profile/') and request.path.find('/', 9) == -1 and
      not current_user.name == profile.name and
      not (get_original_user() and get_original_user().name == profile.name)
      and profile.user.is_active():  -%}
<a id=switchTo href="javascript:false;" onclick="switchTo()">Switch to {{ render_profile_tiny(profile, link=False) }}</a>
<script>
  function switchTo() {
    $.ajax({
      url: '/as/{{ profile.name }}.json',
      type: 'PUT',
      complete: function() { window.location = window.location; }
    });
    return false;
  }
</script>
{%- endif %}
{% if get_original_user(): -%}
<a id=switchBack href="javascript:false;" onclick="switchBack()">Return to {{ render_profile_tiny(get_original_user().profile, link=False) }}</a>
<script>
  $switchBack = $('#switchBack');
  $switchTo = $('#switchTo');
  function switchBack() {
    $.ajax({
      url: '/as/{{ current_user.name }}.json',
      type: 'DELETE',
      complete: function() { window.location = window.location; }
    });
    return false;
  }
</script>
{%- endif %}
{%- endif %}

