{% extends "base.html" %}

{% set breadcrumb_items = [
{'title': 'Staff', 'url': url_for('staff.view_staff')}]
%}

{% set title = 'Staff' %}

{% block content %}
<div class="container">
    {% for listing in listings %}
        <div class="row">
            <div class="span12">
                <h3 class="rheading">{{ listing["name"] }} <span></span></h3>
                <p>{{ listing["description"] }}</p>
            </div>
            {%- for person in data[listing["id"]] %}
                {%- set profile_url = person.get_profile_url() %}
                <div class="span2">
                    <a href="{{ profile_url }}">
                        <img src="{{ person.get_avatar_url() }}" href="{{ profile_url }}">
                        <h6 href="{{ profile_url }}" style="width:128px;text-align:center;">{{ person.name }}</h6>
                    </a>
                </div>
            {%- endfor %}
        </div>
    {% endfor %}
</div>
{% endblock %}
