{% extends "base.html" %}

{% set breadcrumb_items = [
{'title': 'Staff', 'url': url_for('staff.view_staff')}]
%}

{% set title = 'Staff' %}

{% block content %}
<div class="staff-container">
    {%- for listing in listings %}
    <div class="row">
        <div class="small-12 columns">
            <h3>{{ listing["name"] }}</h3>
            <p>{{ listing["description"] }}</p>
            <ul class="small-block-grid-1 medium-block-grid-6">
                {%- for person in data[listing["id"]] %}
                {%- set profile_url = person.get_profile_url() %}
                <li class="text-center">
                    <a href="{{ profile_url }}">
                        <img src="{{ person.get_avatar_url() }}" href="{{ profile_url }}">
                        <h6 href="{{ profile_url }}">{{ person.name }}</h6>
                    </a>
                </li>
                {%- endfor %}
            </ul>
        </div>
    </div>
    {%- endfor %}
</div>
{% endblock %}
