body {
    padding: 0;
    margin: 0;
}

.container_12 {
    min-width: 960px;
    width: 65%;
    margin: 0 auto;
}

header {
    background: #888;
    height: 74px;
}

a {
    color: #000;
    background: #DDD;
    text-decoration: none;
}

a img {
    vertical-align: bottom;
}

a:hover {
    background: none;
}

.logo a, h1 a, h2 a, h3 a {
    background: none;
}

.logo a {
    display: block;
    padding: 10px 0;
}

.accountnav {
    text-align: right;
}

form dd {
    margin: 0 0 1.2em;
}

form dd input, form dd select, form dd textarea {
    width: 100%;
}

form dd input[type="checkbox"] {
    width: auto;
}

.accountnav ul {
    padding: 0;
    margin: 0;
}

.accountnav li {
    padding: 0;
    margin: 0;
    list-style: none;
    display: none;
}

.accountnav .profile_link {
    display: block;
}

.accountnav a {
    background: transparent;
}

.accountnav a:hover {
    background: #DDD;
}

.page_actions {
    text-align: right;
    position: relative;
    font-size: small;
    top: -1.2em;
    margin-bottom: -100%;
}

.profile_stats {
    font-size: x-small;
}

.profile_stats h3 {
    font-size: medium;
}

.profile_stats h6 {
    font-size: small;
    margin: 0;
}

.field_description {
    display: block;
    position: relative;
    right: -100%;
    margin-left: 20px;
    height: 0;
}

.notification {
    float: right;
    margin-top: 4px;
    padding: 4px 0;
    color: #000;
    background: #DDD;
    text-align: center;
    font-size: small;
}

.notification p {
    margin-top: 0px;
    margin-bottom: 0px;
}