{% extends "base.html" %}

{% block content %}

<h1>Edit profile</h1>

<div><a href="{{ current_user.profile.avatar.link }}"><img src="{{ current_user.profile.avatar.portrait }}"></a></div>

{% from 'formhelpers.html' import render_field %}
<form id=profile-form method=post action={{ url_for('player_profiles.edit_profile') }}>
  {{ form.csrf_token }}
  {{ render_field(form.tagline) }}
  {{ render_field(form.realname) }}
  {{ render_field(form.location) }}
  {{ render_field(form.link) }}
  {{ render_field(form.show_stats) }}
  {{ render_field(form.hide_group_invitations) }}
  <p class=profile-submit><input type=submit value=Save></p>
</form>

{% endblock %}
