{% from 'statshelpers.html' import render_stats %}

{% macro render_profile_tiny(profile, link=True) -%}
{% if link -%}
<a class=profile_tiny href="{{ url_for('player_profiles.show_profile', player=profile.name, ext='html') }}">
{%- endif -%}
<img class=profile_avatar src="{{ profile.avatar.tiny }}" style=height:1.2em;width:1.2em>
{{ profile.name }}
{%- if link: -%}
</a>
{%- endif -%}
{%- endmacro %}


{% macro render_profile_small(profile, link=True) -%}
{% if link -%}
<a class=profile_small href="{{ url_for('player_profiles.show_profile', player=profile.name, ext='html') }}">
{%- endif -%}
<img class=profile_avatar src="{{ profile.avatar.small }}">
{{ profile.name }}
{%- if link: -%}
</a>
{%- endif -%}
{%- endmacro %}

{% macro render_profile_medium(profile, link=True) -%}
{% if link -%}
<a class=profile_medium href="{{ url_for('player_profiles.show_profile', player=profile.name, ext='html') }}">
{%- endif -%}
<img class=profile_avatar src="{{ profile.avatar.medium }}">
{{ profile.name }}
{%- if link: -%}
</a>
{%- endif -%}
{%- endmacro %}

