{% extends "base.html" %}

{% set current_page = 'profile' %}

{% set breadcrumb_items = [
{'title': 'Profile'},
{'title': user.name, 'url': user.get_profile_url()}]
%}

{% block content %}
<div class="profile-container">
    <div class="row">
        <div class="small-12 columns">
            <ul class="button-group left">
                {%- if current_user.is_authenticated() and user.name == current_user.name %}
                <li><a class="button tiny" href="{{ profile.get_edit_text_url() }}">Edit profile text</a></li>
                <li><a class="button tiny" href="{{ url_for('avatar.avatar_control') }}">Edit avatar</a></li>
                <li><a class="button tiny" href="{{ url_for('auth.setpassword') }}">Change password</a></li>
                {%- elif current_user.is_authenticated() %}
                <li><a class="button tiny" href="{{ profile.get_send_pm_url() }}">Send PM</a></li>
                {%- if current_user.has_permission('profile.admin') %}
                <li><a class="button tiny" href="{{ profile.get_edit_text_url() }}">Edit profile text</a></li>
                {%- endif %}
                {%- endif %}
            </ul>
            <ul class="button-group right">
                {%- if current_user.is_authenticated() and user.name != current_user.name %}
                {%- if current_user.has_permission('reset.password') %}
                <li><a href="#" class="button alert tiny" data-reveal-id="resetPassword">Reset Password</a></li>
                {%- endif %}
                {%- if user.tfa and current_user.has_permission('reset.tfa') %}
                <li><a href="#" class="button alert tiny" data-reveal-id="resetTFA">Disable TFA</a></li>
                {%- endif %}
                {%- endif %}
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="small-12 medium-3 columns">
            <div class="panel">
                <h4>{{ user.name }}</h4>
                <img src="{{ user.get_avatar_url() }}">
            </div>
            {%- if user.reddit_username != None %}
            <div class="panel">
                <h5>Reddit</h5>
                <span><a href="http://www.reddit.com/user/{{ user.reddit_username }}/">{{ user.reddit_username }}</a></span>
            </div>
            {%- endif %}
            <div class="panel">
                <h5>Badges</h5>
                {{ render_badges(profile)|safe }}
            </div>
        </div>
        <div class="small-12 medium-9 columns">
            <dl class="tabs" data-tab>
                <dd class="active"><a href="#overview">Overview</a></dd>
                <dd><a href="#forum">Forum</a></dd>
            </dl>
            <div class="panel">
                <div class="tabs-content">
                    <div class="content active" id="overview">
                        {{ profile.profile_text|markdown|safe }}
                    </div>
                    <div class="content" id="forum">
                        <div class="small-12 medium-6 columns forum-totals">
                            <h3>Stats</h3>
                            <span>Total Topics: {{ forum_info.topic_num }}</span>
                            <div class="clear"></div>
                            <span>Total Posts: {{ forum_info.post_num }}</span>
                        </div>
                        <div class="small-12 medium-6 columns">
                            <h3>Recent Activity</h3>
                            <ul>
                                {%- for activity in forum_info.forum_activity %}
                                {%- set activity_topic = activity.topic %}
                                <li>
                                    <strong>{% if activity.is_op %}New Topic{% else %}New Reply{% endif %}</strong>
                                    <div class="clear"></div>
                                    <a href="{{ activity_topic.get_url() }}">{{ activity_topic.title }}</a>
                                    <div class="clear"></div>
                                    <p>{{ activity.content|truncate(length=100, killwords=False, end="...") }}</p>
                                </li>
                                {%- endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{%- if current_user.is_authenticated() and user.name != current_user.name %}
{%- if current_user.has_permission('reset.password') %}
<div id="resetPassword" class="reveal-modal" data-reveal>
    <h2>Are you absolutely sure you want to reset the password for <code>{{ user.name }}</code>?</h2>
    <p>If so, type <code>{{ user.name }}</code> into the confirmation field, then click <code>Reset Password</code>.</p>
    <form method="post" action="{{ url_for('player_profiles.reset', what='password') }}" data-abide>
        {{ reset_form.csrf_token }}
        {{ reset_form.who(value=user.name) }}
        <div>
            {{ reset_form.confirm_who(placeholder=reset_form.confirm_who.label.text, required='', **{'data-equalto':"who"}) }}
            <small class="error">Confirmation token is required and must match the username.</small>
        </div>
        <button type="submit" class="alert tiny">Reset Password</button>
    </form>
    <a class="close-reveal-modal">&#215;</a>
</div>
{%- endif %}
{%- if user.tfa and current_user.has_permission('reset.tfa') %}
<div id="resetTFA" class="reveal-modal" data-reveal>
    <h2>Are you absolutely sure you want to disable TFA for <code>{{ user.name }}</code>?</h2>
    <p>If so, type <code>{{ user.name }}</code> into the confirmation field, then click <code>Disable TFA</code>.</p>
    <form method="post" action="{{ url_for('player_profiles.reset', what='tfa') }}">
        {{ reset_form.csrf_token }}
        {{ reset_form.who(value=user.name) }}
        <div>
            {{ reset_form.confirm_who(placeholder=reset_form.confirm_who.label.text, required='', **{'data-equalto':"who"}) }}
            <small class="error">Confirmation token is required and must match the username.</small>
        </div>
        <button type="submit" class="alert tiny">Disable TFA</button>
    </form>
    <a class="close-reveal-modal">&#215;</a>
</div>
{%- endif %}
{%- endif %}
{% endblock %}
