{% extends "base_newer.html" %}

{% set current_page = 'profile' %}

{% set breadcrumb_items = [
{'title': 'Profile'},
{'title': user.name, 'url': user.get_profile_url()}]
%}

{% block content %}
<div class="container">
    {% if current_user.is_authenticated() and user.name != current_user.name %}
    <!-- Toolbar for others -->
    <div class="row">
        <div class="span12">
            <a class="btn btn-theme" href="{{ profile.get_send_pm_url() }}">Send PM</a>
        </div>
    </div>
    {% elif current_user.is_authenticated() %}
    <!-- Toolbar for yourself -->
    <div class="row">
        <div class="span12">
            <a class="btn btn-theme" href="{{ profile.get_edit_text_url() }}">Edit profile text</a>
            <a class="btn btn-theme" href="{{ url_for('avatar.avatar_control', name=user.name) }}">Edit avatar</a>
            <a class="btn btn-theme" href="{{ profile.get_set_password_url() }}">Change password</a>
        </div>
    </div>
    {% endif %}
    <div class="row">
        <div class="span3">
            <div class="row">
                <aside>
                    <div class="widget">
                        <h4 class="rheading">{{ user.name }} <span></span></h4>
                        <img class="center" src="{{ user.get_avatar_url() }}">
                    </div>
                </aside>
            </div>
            <div class="row">
                <aside>
                    <div class="widget">
                        <h5 class="rheading">Badges</h5>
                        <span>Nothing here :(</span>
                    </div>
                </aside>
            </div>
        </div>
        <div class="span9">
            <div class="tabbable tabs-top">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#overview" data-toggle="tab">Overview</a></li>
                    <li class=""><a href="#stats" data-toggle="tab">Stats</a></li>
                    <li class=""><a href="#forum" data-toggle="tab">Forum</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="overview">
                        <p>{{ profile.profile_text|escape|markdown }}</p>
                    </div>
                    <div class="tab-pane" id="stats">
                        <p>
                            This isn't made yet :(
                        </p>
                    </div>
                    <div class="tab-pane" id="forum">
                        <div class="span4">
                            <aside class="widget">
                                <h3 class="rheading">Stats <span></span></h3>
                                <span>Total Topics: {{ forum_info.topic_num }}</span>
                                <div class="clear"></div>
                                <span>Total Posts: {{ forum_info.post_num }}</span>
                                <div class="clear"></div>
                            </aside>
                        </div>
                        <div class="span4">
                            <aside class="widget">
                                <h3 class="rheading">Recent Activity</h3>
                                <ul>
                                    {% for activity in forum_info.forum_activity %}
                                    {% set activity_topic = activity.topic %}
                                    <li>
                                        <label><strong>{% if activity.is_op %}New Topic{% else %}New Reply{% endif %}</strong></label>
                                        <div class="clear"></div>
                                        <a href="{{ activity_topic.get_url() }}">{{ activity_topic.title }}</a>
                                        <div class="clear"></div>
                                        <p>{{ activity.content|truncate(length=100, killwords=False, end="...") }}</p>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </aside>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}