{% extends "base.html" %}

{% block content %}

<h1 class="prof_name">
  {% if profile.user.avatar.link: %}<a href="{{ profile.user.avatar.link }}">{% endif %}
    <img src="{{ profile.user.avatar.large }}" height="128" width="128">
  {% if profile.user.avatar.link: %}</a>{% endif %}
  {{ profile.name }}
</h1>

{% if profile.tagline: %}
<p class="prof_tagline"><quote>{{ profile.tagline }}</quote></p>
{% endif %}

{% if profile.realname or profile.location or profile.link: %}
<p class="prof_info">

  {% if profile.realname: %}
  <span class="prof_realname">{{ profile.realname }}</span><br>
  {% endif %}

  {% if profile.location: %}
  <span class="prof_location">{{ profile.location }}</span><br>
  {% endif %}

  {% if profile.link %}
  <span class="prof_link"><a href="{{ profile.link }}">{{ profile.link }}</a></span><br>
  {% endif %}

</p>
{% endif %}

{% if profile.profile_stats: %}
{% from 'player_stats.html' import stats_table %}
<ul class="stats">
  {% for name, stats in profile.profile_stats.iteritems(): %}
  <li>{{ stats_table(stats) }}</li>
  {% endfor %}
</ul>
{% endif %}

{% endblock %}
