{% extends "base.html" %}
{% from 'statshelpers.html' import render_stats %}
{% from 'grouphelpers.html' import render_group_small %}

{% block topleft %}
<h1>{{ profile.name }}</h1>
{% endblock %}

{% block actions -%}
{% if can_edit_roles(): -%}
<a href="{{ url_for('roles.edit_player_roles', player=profile.name) }}">Edit roles</a>
{%- endif %}
{%- endblock %}

{% block content %}

<div class=grid_4>
  <img src="{{ profile.avatar.portrait }}">
  {% if profile.tagline: -%}
  <blockquote>{{ profile.tagline }}</blockquote>
  {%- endif %}
  {% if profile.realname: -%}
  <p>{{ profile.realname }}</p>
  {%- endif %}
  {% if profile.location: -%}
  <p>{{ profile.location }}</p>
  {%- endif %}
  {% if profile.display_link: -%}
  <p><a href="{{ profile.display_link[0] }}">{{ profile.display_link[1] }}</a></p>
  {%- endif %}
  {% if profile.reddit_name: -%}
  <p><a href="http://reddit.com/user/{{ profile.reddit_name }}">/u/{{ profile.reddit_name }}</a></p>
  {%- endif %}
</div>

{% if profile.user.groups_owner: -%}
<div class=grid_8>
{% for server, endpoint in player_groups.endpoints.iteritems(): -%}
{% set groups = endpoint.member_or_owner_of(profile.user) -%}
{% if groups: -%}
{% for group in groups: -%}
{{ render_group_small(group) }}
{%- endfor %}
{%- endif %}
{%- endfor %}
</div>
{%- endif %}

{% if profile.profile_stats: -%}
{% for name, stats in profile.profile_stats.iteritems(): -%}
<div class="grid_2 profile_stats">
  <h3>{{ server_display_name(name) }}</h3>
  {{ render_stats(stats) }}
</div>
{%- endfor %}
{%- endif %}

{%- endblock %}
