{% extends "settings_base.html" %}

{% set current_settings_path = [{'title': "Account"}, {'title': "Email", 'url': url_for('settings.email_pane')}] %}
{% set current_settings_pane = "Email" %}

{% block settings_pane %}
<div class="panel">
    <h3>Email</h3>
    {%- for error in form.mail.errors %}
        <div data-alert class="alert-box warning radius">
            {{ error }}
            <a href="#" class="close">&times;</a>
        </div>
    {%- endfor %}
    <div>
        {%- if current_user.mail_verified %}
        <p><code>{{ current_user.mail }}</code> has been verified with your account!</p>
        {%- else %}
        {%- if current_user.mail %}
        <p><code>{{ current_user.mail }}</code> is not yet verified.</p>
        {%- else %}
        <p>You have no mail address associated.</p>
        {%- endif %}
        {%- endif %}
    </div>
    <form method="post" data-abide>
        {{ form.hidden_tag() }}
        {{ form.mail(required='', pattern='email') }}
        <small class="error">An email address is required.</small>
        {{ form.update(class='button') }}
        {%- if not current_user.mail_verified %}
        {{ form.resend(class='button') }}
        {%- endif %}
    </form>
</div>
{% endblock %}
