{% extends "settings_base.html" %}

{% set current_settings_path = [{'title': "Account"}, {'title': "Two-Factor Auth", 'url': url_for('settings.tfa_pane')}, {'title': "Enable", 'url': url_for('settings.tfa_enable')}] %}
{% set current_settings_pane = "Two-Factor Auth" %}

{% block settings_pane %}
<div class="panel">
    <h3>Enable Two-Factor Auth</h3>
    <p>Scan the QR code from your authenticator app, then enter a verification
    code to confirm everything's worked.</p>
    <p>Alternatively, enter the key directly (I'm sorry about your evening), or
    just click on it if you're viewing this page using the authentication
    device:</p>
    <p><a href="{{ totp_url }}"><code>{{ secret }}</code></a></p>
    <p class="text-center">
        <img class="tfa-pane tfa-large" src="{{ url_for('settings.tfa_qrcode', new=True, small=False) }}">
        <img class="tfa-pane tfa-small" src="{{ url_for('settings.tfa_qrcode', new=True, small=True) }}">
    </p>
            {%- for error_field in form.errors.values() %}
            {%- for error in error_field %}
            <div class="alert-box alert radius" data-alert>
                {{ error }}
                <a href="#" class="close">&times;</a>
            </div>
            {%- endfor %}
            {%- endfor %}
    <form method="post" action="">
        {{ form.hidden_tag() }}
        {{ form.code(placeholder=form.code.label.text) }}
        <button type="submit">Enable Two-Factor Authentication</button>
    </form>
</div>
{% endblock %}
