{% extends "base_new.html" %}

{% set breadcrumb_items = [
{'title': 'Settings', 'url': url_for('settings.settings_main')}]
%}

{% if current_settings_path %}
    {% set breadcrumb_items = breadcrumb_items + current_settings_path %}
{% endif %}

{% set current_page = 'profile' %}

{% block content %}
<div class="settings-container">
    <div class="row">
        <div class="small-12 medium-3 columns">
            <div class="panel">
                <ul class="side-nav">
                    {%- for category, panes in settings_panels_structure.iteritems() %}
                    <li class="nav-header">{{ category }}</li>
                    {%- for name, pane in panes.iteritems() %}
                    <li{% if current_settings_pane == pane['menu_id'] %} class="active"{% endif %}><a href="{{ pane['url']() }}">{{ name }}</a></li>
                    {%- endfor %}
                    {%- endfor %}
                </ul>
            </div>
        </div>
        <div class="small-12 medium-9 columns">
        {%- block settings_pane %}
        {%- endblock %}
        </div>
    </div>
</div>
{% endblock %}
