div.forum-post-raw {
    display:none;
}
div.forum-post-edit {
    display:none;
}
div.forum-post-edit form {
    margin:0;
}
form div.widget {
    margin:0;
}
div.forum-post-edit textarea {
    resize:both;
    width:450px;
    height:120px;
}
#post-reply textarea {
    resize: both;
    width: 450px;
    height:150px;
}

div.forum-post-left {
    text-align:center;
    margin-top:10px;
}
div.forum-post-right {
    margin-top:10px;
    margin-left:12px;
}