body {
    min-width: 980px;
    margin: 0;
    position: relative;
    background: url('/static/img/lil_fiber.png');
}

.content {
    width: 976px;
    margin: 15px auto 5px;
    background-color: #ffffff;
    border: 1px #dddddd solid;
}

.login-bar {
    width: auto;
    height: 60px;
    position: absolute;
    top: 10px;
    right: 0;
    padding-right: 5%;
    background: #4b4039;
    border: 1px #373737 solid;
    border-right: 0;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
}

.avatar-container {
    float: left;
    margin: 8px 8px;
    width: auto;
    height: auto;
    border-radius: 6px;
    display: inline-block;
    background: #e8e8e8;
}

.avatar {
    width: 40px;
    height: 40px;
    margin: 3px;
    box-shadow: 0 0 5px #888888;
    border-radius: 4px;
    background: #ffffff;
    background-size: 100%;
}

.user-container {
    float: left;
    height: 54px;
    margin: 10px 0;
}

.user-username {
    color: #dddddd;
    margin: 0 4px;
    font-size: 0.9em;
}

.user-divider {
    height: 0;
    width: 100%;
    border-top: #666666 1px solid;
    margin: 2px 0;
}

.user-actions {
    margin: 0 4px;
}

.user-action-item {
    float: left;
    font-size: 0.7em;
    color: #cccccc;
    margin-right: 4px;
}

.header {

}

.top-header {
    margin: 0 auto;
    height: 80px;
    width: 100%;
    border-top: #cccccc 1px dashed;
    border-bottom: #cccccc 1px dashed;
    display: inline-block;

    background: #ededed; /* Old browsers */
    background: -moz-linear-gradient(left, #f6f6f6 0%, #ffffff 23%, #ffffff 50%, #ffffff 77%, #f6f6f6 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#f6f6f6), color-stop(23%,#ffffff), color-stop(50%,#ffffff), color-stop(77%,#ffffff), color-stop(100%,#f6f6f6)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, #f6f6f6 0%,#ffffff 23%,#ffffff 50%,#ffffff 77%,#f6f6f6 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, #f6f6f6 0%,#ffffff 23%,#ffffff 50%,#ffffff 77%,#f6f6f6 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, #f6f6f6 0%,#ffffff 23%,#ffffff 50%,#ffffff 77%,#f6f6f6 100%); /* IE10+ */
    background: linear-gradient(to right, #f6f6f6 0%,#ffffff 23%,#ffffff 50%,#ffffff 77%,#f6f6f6 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#ededed',GradientType=1 ); /* IE6-9 */
}

.lower-header {
    width: 976px;
    height: 30px;
    margin: 0 auto;
    background-color: #e1d4cc;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border: 1px #dddddd dotted;
    border-top: 0;
    box-shadow: inset 0 0 2px #373737;
    -moz-box-shadow: inset 0 0 2px #373737;
}

.top-header-center {
    margin: 0 auto;
    width: 976px;
    height: 80px;
    border-right: 1px #dddddd dotted;
    border-left: 1px #dddddd dotted;
}

.logo-container {
    float: left;
}

.logo {
    margin: 18px;
    height: 40px;
}

.logo-location {
    float: left;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 1.7em;
    line-height: 91px;
    margin-left: 10px;
    color: #000000;
    text-decoration: none;
}

.bg-image-container {
    position: relative;
    margin: 0 auto;
    width: 1400px;
}

.bg-image {
    position: absolute;
    z-index: -1;
    width: 1400px;
    height: 1000px;
    background-size: 100%;
    background: url('/static/img/testscreenshot.png') no-repeat;
}

.front-hero {
    width: 100%;
    height: 550px;
    position: relative;
    margin-top: 20px;
    box-shadow: 0px 0px 3px #373737;
    background-color: rgba(12, 5, 0, 0.2);
}

.front-hero-image {
    height: inherit;
    width: 100%;
    background-size: auto 100%;
    background: no-repeat center;
    background-origin:content-box;
}

.lower-header-link {
    line-height: 30px;
    height: inherit;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 0.9em;
    color: #232323;
    display: inline-block;
    padding: 0 20px;
    -webkit-transition: background 60ms linear;
    background-color: rgba(40, 40, 40, 0);
}
.lower-header-link-left {
    border-right: 1px rgba(40, 40, 40, 0.2) solid;
}
.lower-header-link-right {
    border-left: 1px rgba(40, 40, 40, 0.2) solid;
    float: right;
}
.lower-header-link:link {

}
.lower-header-link:visited {

}
.lower-header-link:hover {
    background-color: rgba(40, 40, 40, 0.1);
}
.lower-header-link:active {

}

.server-showcase {
    width: 900px;
    border: 1px #000000 dotted;
    background: #ffffff;
    margin: 10px auto 0;
    border-radius: 10px 10px 5px 5px;
}
.server-showcase .row {
    width: 100%;
    display: inline-block;
}
.server-showcase .row .column-two {
    width: 50%;
    float: left;
}
.server-showcase .row .column-two .box {
    border-right: 1px #000000 solid;
}
.server-showcase .row .column-two .box-end {

}

/* BREADCRUMB MEGA-VAN */
.breadcrumb {
    margin-bottom: 20px;
    line-height: 30px;
    color: #aaa;
    padding: 1px;
    border: 1px solid #f0f0f0;
}
.breadcrumb a {
    display: block;
    float: left;
    background: #f0f0f0;
    padding-right: 10px;
    height: 30px;
    margin-right: 31px;
    position: relative;
    text-decoration: none;
    color: #aaa;
}
.breadcrumb a:last-of-type { margin-right: 25px }
.breadcrumb a:before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    left: -30px;
    border: 15px solid transparent;
    border-color: #f0f0f0;
    border-left-color: transparent;
}
.breadcrumb a:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    right: -30px;
    border: 15px solid transparent;
    border-left-color: #f0f0f0;
}
.breadcrumb a:first-of-type { padding-left: 15px }
.breadcrumb a:first-of-type:before { display: none }
.breadcrumb a:hover {
    background: #00b0ec;
    color: #fff;
    text-decoration: none;
}
.breadcrumb a:hover:before {
    border-color: #00b0ec;
    border-left-color: transparent;
}
.breadcrumb a:hover:after { border-left-color: #00b0ec }