{% extends "base.html" %}

{% set breadcrumb_items = [
{'title': 'Notifications', 'url': url_for('notifications.notifications_view')}]
%}

{% set current_page = 'notifications' %}

{%- macro render_notification(notification) %}
{%- if notification._cls == 'BaseNotification.BasePlayerSenderNotification.PMNotification' %}
<a href="#" data-reveal-id="mail-{{ notification.id }}" title="Click to view message">Mail</a>
{%- endif %}
{%- endmacro %}

{%- macro render_sender(notification) %}
{%- if notification._cls == 'BaseNotification.BasePlayerSenderNotification.PMNotification' %}
<a href="{{ notification.sender_user.get_profile_url() }}">{{ notification.sender }}</a>
{%- endif %}
{%- endmacro %}

{%- macro render_tools(notification) %}
{%- if notification._cls == 'BaseNotification.BasePlayerSenderNotification.PMNotification' %}
<a href="{{ url_for('player_profiles.send_pm', name=notification.sender_user) }}" title="Reply"><i class="fi-mail"></i></a>
{%- endif %}
{%- if not notification.read %}
<a href="{{ url_for('notifications.notification_mark', id=notification.id, mark='read') }}" title="Mark as read"><i class="fi-checkbox"></i></a>
{#%- else %}
<a href="{{ url_for('notifications.notification_mark', id=notification.id, mark='unread') }}" title="Mark as unread"><i class="icon-envelope-alt"></i></a>#}
{%- endif %}
{%- if notification.deletable %}
<a href="{{ url_for('notifications.notification_delete', id=notification.id) }}" title="Delete"><i class="fi-x"></i></a>
{%- endif %}
{%- endmacro %}

{% block content %}
<div class="notifications-container">
    <div class="row">
    {%- if notifications %}
        <div class="small-12 columns">
            <div class="panel">
                <table>
                    <thead>
                        <tr>
                            <th></th>
                            <th>Notification</th>
                            <th>Sender</th>
                            <th>Time sent</th>
                            <th>Tools</th>
                        </tr>
                    </thead>
                    <tbody>
                        {%- for notification in notifications %}
                        <tr>
                            <td>
                                {%- if notification.read %}
                                <span style="color: #cccccc">!</span>
                                {%- else %}
                                <span>!</span>
                                {%- endif %}
                            </td>
                            <td>
                                {{ render_notification(notification) }}
                            </td>
                            <td>
                                {{ render_sender(notification) }}
                            </td>
                            <td>
                                {{ notification.date|full_date|safe }}
                            </td>
                            <td>
                                {{ render_tools(notification) }}
                            </td>
                        </tr>
                        {%- endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {%- for notification in notifications %}
        {%- if notification._cls == 'BaseNotification.BasePlayerSenderNotification.PMNotification' %}
        <div id="mail-{{ notification.id }}" class="reveal-modal" data-reveal>
            <h3 id="mail-label-{{ notification.id }}">Mail Message</h3>
            <hr>
            {{ notification.message|markdown|safe }}
            <a class="close-reveal-modal">&#215;</a>
        </div>
        {%- endif %}
        {%- endfor %}
    {%- else %}
        <div class="small-12 columns text-center">
            <h2>You have no notifications.</h2>
        </div>
    {%- endif %}
    </div>
</div>
{% endblock %}
