{% extends "base.html" %}

{% set breadcrumb_items = [
{'title': 'Notifications', 'url': url_for('notifications.notifications_view')}]
%}

{% set current_page = 'notifications' %}

{% set javascript_molecules = ["notifications_tools"] %}

{% block content %}
<div class="notifications-container">
    <div class="row">
        <div class="small-12 columns">
            <div class="panel">
                {% if notifications %}
                    <ul>
                        {% for notification in notifications %}
                            <li data-id="{{ notification.id }}" ng-controller="notificationEntry" ng-class="{'read': read}"
                                class="{{ loop.cycle('odd', 'even') }} {% if not loop.first %}border{% endif %} {% if notification.read %}read{% endif %}">
                                {{ notification.render_notification_listing()|safe }}
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <h2>You have no notifications.</h2>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
