{% extends "base_newer.html" %}

{% set breadcrumb_items = [
{'title': 'Notifications'}]
%}

{% macro render_body(notification) %}
    {% if notification.render_type == 0 %}
        {{ notification.data['text']|escape }}
    {% elif notification.render_type == 1 %}
        {{ notification.data['text']|escape|markdown|safe }}
    {% elif notification.render_type == 2 %}
        {{ notification.data['text']|safe }}
    {% elif notification.render_type == 3 %}

    {% endif %}
{% endmacro %}

{% block content %}
<div class="container">
    {% for notification in notifications %}
    <div class="row">
        <div class="span12">
                {{ notification.render_notification() }}
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}