{% extends 'base.html' %}
{% from 'formhelpers.html' import render_field %}

{% block head -%}
<script src="{{ url_for('static_pages.static', filename='chosen.jquery.min.js') }}"></script>
<link href="{{ url_for('static_pages.static', filename='chosen.css') }}" rel="stylesheet">
{%- endblock %}

{% block topleft %}
<h1>{{ name }}</h1>
{% endblock %}

{% block content %}
<form class="grid_4 prefix_4" action="{{ action }}" method=post>
  <div class=pane>
    {{ render_field(form.roles) }}
    <input type=submit>
  </div>
</form>
<script>
  $('form select').chosen();
</script>
{% endblock %}
