{% extends "base.html" %}

{% set breadcrumb_items = [
{'title': 'Anathema', 'url': url_for('bans.a_front')}]
%}

{% set current_page = 'bans' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="span3">
            <div class="box divcenter">
                        <a href="{{ url_for('bans.bans_index') }}" class="bans-link-icon">
                            <i class="icon-circled icon-128 icon-ban-circle"></i>
                        </a>
                        <br>
                        <a href="{{ url_for('bans.bans_index') }}">Bans</a>
            </div>
        </div>
        <div class="span3">
            <div class="box divcenter">
                       <a href="{{ url_for('bans.appeals_index') }}" class="bans-link-icon">
                            <i class="icon-circled icon-128 icon-share-alt"></i>
                        </a>
                        <br>
                        <a href="{{ url_for('bans.appeals_index') }}">Appeals</a>
            </div>
        </div>
        <div class="span3">
            <div class="box divcenter">
                    {%- if current_user.has_permission('bans.note.view') %}
                        <a href="{{ url_for('bans.notes_index') }}" class="bans-link-icon">
                            <i class="icon-circled icon-128 icon-tag"></i>
                        </a>
                        <br>
                        <a href="{{ url_for('bans.notes_index') }}">Notes</a>
                    {%- else %}
                        <a class="bans-link-icon">
                            <i class="icon-circled icon-128 icon-tag" style="background-color: #888;"></i>
                        </a>
                        <br>
                        <a style="color: #888;">Notes</a>
                    {%- endif %}
            </div>
        </div>
        <div class="span3">
            <div class="box divcenter">
                        <a href="{{ url_for('bans.your_bans') }}" class="bans-link-icon">
                            <i class="icon-circled icon-128 icon-edit"></i>
                        </a>
                        <br>
                        <a href="{{ url_for('bans.your_bans') }}">Appeal Ban</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
