{% extends "base.html" %}

{% block content %}
<div class="grid_12 pane">
    <table style="width: 97;">
        <tr>
            <td style="width: 8%;">Ban</td>
            <td style="width: 50%;">Reason</td>
            <td style="width: 15%;">Appealer</td>
            <td style="width: 15%;">Banner</td>
            <td>Created</td>
            <td>Last Post</td>
        </tr>
        {% for appeal in appeals %}
        <tr>
                <td><a href="{{ url_for('bans.view_appeal', uid=appeal.ban.uid) }}">{{ appeal.ban.uid }}</a></td>
                <td>{{ appeal.ban.reason }}</td>
                <td>{{ appeal.ban.username }}</td>
                <td>{{ appeal.ban.issuer }}</td>
                <td>{{ appeal.created.strftime("%H:%M %d %b %y") }}</td>
                <td>{{ appeal.last.strftime("%H:%M %d %b %y") }}</td>
        </tr>
        {% endfor %}
    </table>
        {% if previous_button %}
            <a href="/a/appeals/list/{{ current_page-1 }}">Previous</a>
        {% endif %}
        {% if next_button %}
            <a href="/a/appeals/list/{{ current_page+1 }}">Next</a>
        {% endif %}
        <p>{{ location_info }}</p>
</div>
{% endblock %}