{% extends "base_newer.html" %}

{% set breadcrumb_items = [
{'title': 'Anathema', 'url': url_for('bans.a_front')},
{'title': 'Appeals', 'url': url_for('bans.appeals_index')}]
%}

{% block content %}
<div class="container">
    <div class="row">
        <div class="span12">
            <div class="widget">
                <table class="table">
                    <tr>
                        <td>Ban</td>
                        <td>Reason</td>
                        <td>Appealer</td>
                        <td>Banner</td>
                        <td>Created</td>
                        <td>Last Post</td>
                    </tr>
                    {% for appeal in appeals %}
                    <tr style="{{ loop.cycle('background-color: #f5f5f5;', 'background-color: #ffffff;') }}">
                        <td><a href="{{ url_for('bans.view_appeal', uid=appeal.ban.uid) }}">{{ appeal.ban.uid }}</a></td>
                        <td>{{ appeal.ban.reason }}</td>
                        <td>{{ appeal.ban.username }}</td>
                        <td>{{ appeal.ban.issuer }}</td>
                        <td>{{ appeal.created.strftime("%H:%M %d %b %y") }}</td>
                        <td>{{ appeal.last.strftime("%H:%M %d %b %y") }}</td>
                    </tr>
                    {% endfor %}
                </table>
                {% if previous_button %}
                <a href="{{ url_for('bans.appeals_index', page=current_page-1) }}">Previous</a>
                {% endif %}
                {% if next_button %}
                <a href="{{ url_for('bans.appeals_index', page=current_page+1) }}">Next</a>
                {% endif %}
                <p>{{ location_info }}</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}