{% extends "base.html" %}

{% block content %}
<div class="grid_12 pane">
    <table style="border: solid; border-width: 1px;">
        <tr>
            <td style="width: 8%;">Id</td>
            <td style="width: 12%;">User</td>
            <td style="width: 50%;">Reason</td>
            <td style="width: 12%;">Issuer</td>
            <td>Date</td>
            <td>Appeal</td>
        </tr>
        {% for ban in bans %}
            <tr{% if not ban.active %} style="background-color: #dddddd"{% endif %}>
                <td>{{ ban.uid }}</td>
                <td>{{ ban.username }}</td>
                <td>{{ ban.reason }}</td>
                <td>{{ ban.issuer }}</td>
                <td>{{ ban.time.strftime("%H:%M %d %b %y") }}</td>
                <td>
                {% if ban.appeal is not none %}
                    <a href="{{ url_for('bans.view_appeal', uid=ban.uid) }}">View Appeal</a>
                {% elif ban.username|lower == current_user.name|lower and ban.appeal is none and ban.active %}
                    <a href="{{ url_for('bans.post_new_appeal', uid=ban.uid) }}">Appeal Ban</a>
                {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
        {% if previous_button %}
            <a href="{{ url_for(view, page=current_page-1) }}">Previous</a>
        {% endif %}
        {% if next_button %}
            <a href="{{ url_for(view, page=current_page+1) }}">Next</a>
        {% endif %}
        <p>{{ location_info }}</p>
</div>
{% endblock %}