{% extends "base.html" %}
{% include "badge.html" %}
{% block head %}
<style>

</style>
{% endblock %}

{% block content %}
<div class="grid_12 pane">
    <div style="background-color: #f5f5f5; padding: 10px; margin-top: 10px; margin-bottom: 15px;">
        {% if not ban.active %}
        Ban has been removed.
        <br>
        {% endif %}
        Banned by {{ ban.issuer }} with the reason:
        <i>{{ ban.reason }}</i>
        <br>
        {% if current_user.has_permission("bans.appeal.manage") %}
        {{ admin_form.unban }}
        {{ admin_form.lock_time }}
        {{ admin_form.lock }}
        {% endif %}
    </div>
    {% for reply in replies %}
    <div style="background-color: #eeeeee; margin-top: 10px; margin-bottom: 10px; padding: 10px; border-radius: 3px; border: solid; border-width: 1px; border-color: #eaeaea;">
        <div style="float: left; width: 100px;">
            <img src="{{ url_for('avatar.get_avatar', name=reply.creator.name) }}" style="width: 100px; height: 100px;">
            {{ reply.creator.name }} <br>
            {% if reply.creator.name|lower == ban.issuer|lower %}
            Ban Issuer
            {% elif reply.creator.name|lower == ban.username|lower %}
            Ban Appealer
            {% endif %}
            {{ reply.creator.badge }}
        </div>
        <div style="float: left; margin-left: 10px;">
            {{ reply.text }}
        </div>
        <div style="display: block; clear: both;"></div>
    </div>
    {% endfor %}
    <form method="post">
        {{ reply_form.text }}
        <input type="submit" value="Submit" />
    </form>
</div>
{% endblock %}