{% macro render_group_tiny(group, link=True) -%}
{% if link -%}
<a href="{{ url_for('player_groups.show_group', server=group.server, group=group.name) }}">
    {%- endif -%}
    <img src="{{ group.avatar.small }}" style=height:1.2em;width:1.2em>
    {{ group.display_name }}
    {%- if link: -%}
</a>
{%- endif -%}
{%- endmacro %}

{% macro render_group_small(group, link=True) -%}
{% if link -%}
<a href="{{ url_for('player_groups.show_group', server=group.server, group=group.name) }}">
    {%- endif -%}
    <img src="{{ group.avatar.small }}" style=height:1.2em;width:1.2em>
    {{ group.display_name }}
    {%- if link: -%}
</a>
{%- endif -%}
{%- endmacro %}