{% from 'profilehelpers.html' import render_profile %}
{% from 'avatarhelpers.html' import render_avatar %}

{% macro render_group(group, endpoint) -%}

<div class=group>

{{ render_avatar(group) }}

<h1 class=group-name>{{ group.display_name }}</h1>

{% if group.tagline: -%}
<blockquote class=group-shortinfo>{{ group.tagline }}</blockquote>
{%- endif %}

{% if group.link: -%}
<p class=group-link><a href={{ group.link }}>{{ group.link }}</a></p>
{%- endif %}

{% if group.info: -%}
<p class=group-longinfo>{{ group.info|markdown }}</p>
{%- endif %}

<h2 class=group-owners-heading>{{ endpoint.owners.capitalize() }}</h2>

<div class=group-owners>
  {% for owner in group.owners: -%}
  {{ render_profile(owner.profile) }}
  {%- endfor %}
</div>

{% if group.members: -%}

<h2 class=group-members-heading>{{ endpoint.members.capitalize() }}</h2>

<div class=group-members>
  {% for member in group.members: -%}
  {{ render_profile(member.profile) }}
  {%- endfor %}
</div>

{%- endif %}

</div>

{%- endmacro %}
