{% extends "base.html" %}

{% block content -%}

<h1>Join {{ endpoint.group }}</h1>

<form id=group-join-form method=POST action="{{ url_for('player_groups.join_group', server=endpoint.server, group=group.name, ext='html') }}">
  <button class=group-join type=submit>Join {{ group.display_name }}</button>
</form>

{% if not group.publc: -%}
<button class=group-decline type=submit onclick="decline()">No, thanks</button>
<script>
  function decline() {
    $.ajax({
      url: '{{ url_for('player_groups.join_group', server=endpoint.server, group=group.name) }}',
      method: 'delete',
      complete: function() { window.location = '{{ url_for('player_groups.show_group', server=endpoint.server, group=group.name, ext='json') }}'; }
    });
  }
</script>
{%- endif %}

{% include 'render_group.html' %}

{%- endblock %}

