{% from 'grouphelpers.html' import render_group %}

{% extends "base.html" %}

{% block content -%}

<h1>Join {{ endpoint.group }}</h1>

<form id=group-join-form method=post action={{ url_for('player_groups.%s_join_group'%endpoint.server, name=group.name) }}>
  
  <p class=group-submit>
    <button class=group-join name=action type=submit value=accept>Join {{ group.display_name }}</button>
    {% if not group.publc: -%}
    <button class=group-decline name=action type=submit value=decline>No, thanks</button>
    {%- endif %}
  </p>

  {{ render_group(group) }}
  
</form>

{%- endblock %}
