{% from 'grouphelpers.html' import render_group %}

{% extends "base.html" %}

{% block content -%}

<h1>Join {{ endpoint.group }}</h1>

<form id=group-join-form method=post action={{ url_for('player_groups.%s_join_group'%endpoint.server, name=group.name) }}>
  
  <p class=group-submit>
    <button class=group-join name=join type=submit value=join>Join {{ group.display_name }}</button>
    <button class=group-reject name=reject type=submit value=reject>No, thanks</button>
  </p>

  {{ render_group(group) }}
  
</form>

{%- endblock %}
