{% extends "base.html" %}

{% block content %}

<h1>Register {{ endpoint.group }}</h1>

{% from 'formhelpers.html' import render_field %}
<form id=profile-form method=post action={{ url_for('player_groups.register_group', server=endpoint.server) }}>
  {{ form.csrf_token }}
  <dl>
    {{ render_field(form.mail) }}
    {{ render_field(form.name) }}
    {{ render_field(form.tagline) }}
    {{ render_field(form.link) }}
    {{ render_field(form.info) }}
  </dl>
  <p><input type=submit value=Save></p>
</form>

{% endblock %}
