{% from 'profilehelpers.html' import render_profile_small, render_profile_medium %}

<div class="grid_4">
  <img src="{{ group.avatar.portrait }}" width=100%>
  <div class=pane>
    {% if group.tagline: -%}
    <blockquote>{{ group.tagline }}</blockquote>
    {%- endif %}
    {% if group.link: -%}
    <p><a href={{ group.link }}>{{ group.link }}</a></p>
    {%- endif %}
  </div>
</div>

<div class="grid_8">
  <div class=pane>
    <h2>{{ endpoint.owners.capitalize() }}</h2>
    <p>
      {% for owner in group.owners: -%}
      <span class=group_owner>{{ render_profile_medium(owner.profile) }}</span>
      {%- endfor %}
    </p>
  </div>
</div>

{% if group.info: -%}
<div class="grid_4">
  <div class=pane>
    {{ group.info|markdown }}
  </div>
</div>
{%- endif %}

{% if group.members: -%}
<div class="grid_4">
  <div class=pane>
    <h2 class=group-members-heading>{{ endpoint.members.capitalize() }}</h2>
    <p>
      {% for member in group.members: -%}
      {{ render_profile_small(member.profile) }}
      {%- endfor %}
    </p>
  </div>
</div>
{%- endif %}

