<!DOCTYPE html>
<html>
  <head>
    <title>{{ player }}</title>
    <link rel="stylesheet" href="{{ url_for('player_stats.static', filename='style.css') }}"/>
  </head>
  <body>
    {% macro stats_table(categories) %}
    {% for category in categories %}
    <table>
      <caption>{{ category.name }}</caption>
      {% for stat in category.stats %}
      <tr>
        <td>{{ stat.name }}</td>
        <td>{{ stat.value }}</td>
      </tr>
      {% endfor %}
    </table>
    {% endfor %}
    {% endmacro %}
    {{ stats_table(categories) }}
  </body>
</html>
