{% extends "base.html" %}

{% set breadcrumb_items = [
{'title': 'Wiki', 'url': url_for('wiki.display_index')},
{'title': 'pages', 'url': url_for('wiki.display_pages')}]
%}

{% block content %}
<div class="container">
    <div class="row">
        <div class="span12">
            <aside>
                <div class="widget">
                    {% for link in links %}
                    <p><a href="/wiki/{{ link }}">{{ link }}</a></p>
                    {% endfor %}
                </div>
            </aside>
        </div>
    </div>
</div>
{% endblock %}