{% extends "base.html" %}

{% set breadcrumb_items = [
{'title': 'Wiki', 'url': url_for('wiki.display_index')},
{'title': 'All Pages', 'url': url_for('wiki.display_pages')}]
%}

{% block content %}
<div class="wiki-listing-container">
    <div class="row">
        <div class="small-12 columns">
            <div class="panel">
                <h2>All Pages</h2>
                {%- for link in links %}
                <p><a href="/wiki/{{ link }}">{{ link }}</a></p>
                {%- endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
