{% extends "base_new.html" %}

{% set breadcrumb_items = [
{'title': 'Wiki', 'url': url_for('wiki.display_index')}]
%}
{% if wiki_url %}{% do breadcrumb_items.append({'title': wiki_url, 'url': url_for('wiki.display_wiki_article', wiki_url=wiki_url)}) %}{% endif %}

{% block content %}
<div class="wiki-page-container">
    <div class="row">
        <div class="small-12 columns">
            <div class="panel">
                {{ article['content']|markdown }}
            </div>
        </div>
    </div>
</div>
{% endblock %}
