{% extends "base_newer.html" %}

{% set breadcrumb_items = [
{'title': 'Wiki', 'url': url_for('wiki.display_index')}]
%}
{% if wiki_url %}{% do breadcrumb_items.append({'title': wiki_url, 'url': url_for('wiki.display_wiki_article', wiki_url=wiki_url)}) %}{% endif %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="span12">
            <aside>
                <div class="widget">
                    {{ article['content']|markdown }}
                </div>
            </aside>
        </div>
    </div>
</div>
{% endblock %}