html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td {
border:0;
outline:0;
vertical-align:baseline;
background:transparent;
margin:0;
padding:0;
}

.flash {
background-color:#eeeeee;
border-style:solid;
border-color:#dddddd;
border-width:3px;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
padding-top: 5px; 
padding-left: 3px;
padding-bottom: 5px; 
}

table {
border-spacing:0;
border-collapse:collapse;
}

caption,th,td {
text-align:left;
font-weight:400;
}

blockquote,q {
quotes:none;
}

.group:after {
content:".";
display:block;
height:0;
clear:both;
visibility:hidden;
}

body {
font-family:'Helvetica Neue',helvetica,arial,sans-serif;
color:#111;
}

a {
color:#005889;
text-decoration:none;
}

a:hover {
color:#0079bc;
text-decoration:underline;
}

#old-browser {
text-align:center;
font-size:.875em;
background:#fff0b3;
padding:.825em;
}

#header {
background:url(/static/1.svg) repeat-x #005889;
margin:0 auto;
}

#header #logo {
float:left;
font-size:1.125em;
padding:.7em 0 0 .825em;
}

#header #logo a {
color:#fff;
}

#header span.title {
text-indent:100%;
white-space:nowrap;
overflow:hidden;
background:url(/assets/logo-17fade305431e0f56f86a53ae30530d8.png) no-repeat;
background-size:119px 18px;
display:inline-block;
width:119px;
height:18px;
}

#header #account-nav {
font-size:.875em;
float:right;
background:#3D3D3D;
}

#header #account-nav a.drop-down,#header #account-nav p {
color:#fff;
display:block;
padding:1em;
}

#header #account-nav p a {
color:#fff;
text-decoration:underline;
}

#header #account-nav img {
border:1px solid #fff;
vertical-align:middle;
margin:-.5em 0 0 .7em;
}

#header #account-nav #account-links {
width:5em;
display:none;
position:absolute;
z-index:1000;
right:0;
background:#004165;
list-style:none;
line-height:2em;
border-bottom-right-radius:3px;
border-bottom-left-radius:3px;
-moz-border-radius-bottomright:3px;
-moz-border-radius-bottomleft:3px;
-webkit-border-radius-bottomright:3px;
-webkit-border-bottom-left-radius:3px;
padding:.5em 1em;
}

#header #account-nav #account-links a {
display:block;
color:#fff;
}

#header #account-links {
display:none;
}

#content {
max-width:1200px;
width:90%;
margin:2.25em auto;
}

#main {
float:right;
width:80%;
}

#main #sign-up-alert,#main #announcements {
background:#fff0b3;
border-radius:3px;
-moz-border-radius:3px;
-webkit-border-radius:3px;
margin-bottom:1.5em;
padding:1em;
}

#main #sign-up-alert span,#main #announcements span {
float:left;
width:80%;
}

#main #sign-up-alert h2,#main #announcements h2 {
font-weight:400;
margin-bottom:.25em;
}

#main #sign-up-alert p,#main #announcements p {
font-size:.875em;
margin-bottom:.25em;
}

#main #sign-up-alert a.button,#main #announcements a.button {
background:#dc4b39;
border-radius:3px;
-moz-border-radius:3px;
-webkit-border-radius:3px;
color:#fff;
font-size:1.125em;
float:right;
padding:.5em;
}

#main #sign-up-alert li,#main #announcements li {
list-style:none;
}

#main #tags {
list-style:none;
margin-bottom:.825em;
background:#f6f9fb;
border-radius:3px;
-moz-border-radius:3px;
-webkit-border-radius:3px;
padding:1em;
}

#main #tags li.active-tag a {
font-weight:700;
color:#111;
}

#main p.showing-links-tagged-with {
font-size:.75em;
margin-bottom:2.125em;
}

#main #link-list .links-empty {
text-align:center;
font-size:.875em;
margin-top:3em;
}

#main #link-list .links-empty span {
background:#f6f9fb;
border-radius:5px;
-moz-border-radius:5px;
-webkit-border-radius:5px;
padding:1em 2em;
}

#main .link-item {
border-bottom:1px dashed #e5ecf3;
padding:1em .5em;
}

#main .link-item:first-child {
margin-top:-1em;
}

#main .link-item:hover {
background:#f6f9fb;
}

#main .link-item .favicon {
margin-top:.2em;
float:left;
border:0;
}

#main .link-item .favicon img {
background:#fff;
}

#main .link-item .link-block {
float:left;
width:83%;
padding-left:.7em;
}

#main .link-item .link-block h3 {
font-size:1.25em;
font-weight:400;
}

#main .link-item .link-block h3.private {
background:url(/assets/lock-c16450bf1b03f5d0ec47f3b507c84071.png) 0 .1em no-repeat;
text-indent:1em;
}

#main .link-item .link-block.read h3 a {
color:#ccc;
text-decoration:line-through;
}

#main .link-item .link-block p.comment {
font-size:.875em;
margin-top:.5em;
}

#main .link-item .link-block p.meta {
color:#999;
font-size:.75em;
margin-top:.7em;
}

#main .link-item .link-block p.meta img {
vertical-align:bottom;
}

#main .link-item .link-options {
float:right;
font-size:.875em;
margin-top:.5em;
list-style:none;
}

#main .link-item .link-options li {
float:left;
margin-left:.2em;
}

#main .link-item .link-options .link-icon {
border-radius:3px;
-moz-border-radius:3px;
-webkit-border-radius:3px;
width:24px;
height:24px;
display:block;
}

#main .link-item .link-options .mark {
background:url(/assets/link-icon-sprite-ec723a239d91d9e7a7d58fb1e714feca.png) 0 50% no-repeat #e3e3e3;
}

#main .link-item .link-options .mark:active {
background-color:#9dea4a;
}

#main .link-item .link-options .mark-set {
background-color:#6ab915;
}

#main .link-item .link-options .star {
background:url(/assets/link-icon-sprite-ec723a239d91d9e7a7d58fb1e714feca.png) -24px 50% no-repeat #e3e3e3;
}

#main .link-item .link-options .star:active {
background-color:#ffeb99;
}

#main .link-item .link-options .star-set {
background-color:#fc0;
}

#main .link-item .link-options .cog {
background:url(/assets/link-icon-sprite-ec723a239d91d9e7a7d58fb1e714feca.png) -48px 50% no-repeat #e3e3e3;
}

#main .link-item .link-options .cog:hover {
background-color:#666;
text-decoration:none;
}

#main .link-item .link-options .cog:active {
background-color:#b3b3b3;
}

#main .link-item .link-options .add {
background:url(/assets/link-icon-sprite-ec723a239d91d9e7a7d58fb1e714feca.png) -72px 50% no-repeat #e3e3e3;
}

#main .link-item .link-options .add:hover {
background-color:#6ab915;
text-decoration:none;
}

#main .link-item .link-options .add:active {
background-color:#b6f077;
}

#main .link-item .link-options .settings-links {
display:none;
background:#666;
border-radius:3px;
-moz-border-radius:3px;
-webkit-border-radius:3px;
position:absolute;
z-index:1000;
margin-top:-.4em;
list-style:none;
font-size:.875em;
padding:.5em;
}

#main .link-item .link-options .settings-links li {
clear:left;
width:4em;
}

#main .link-item .link-options .settings-links a {
color:#fff;
display:block;
padding:.3em 0;
}

#main .pagination {
margin-top:2.125em;
font-size:.875em;
}

#main .pagination .current {
background:#e5ecf3;
border:1px solid #e5ecf3;
border-radius:3px;
-moz-border-radius:3px;
-webkit-border-radius:3px;
margin-right:.4em;
padding:.5em .7em .5em .8em;
}

#main .pagination a {
border:1px solid #e5ecf3;
border-radius:3px;
-moz-border-radius:3px;
-webkit-border-radius:3px;
padding:.5em .8em;
}

#secondary {
float:left;
width:18%;
}

#secondary #active-account img {
float:left;
border:1px solid #e3e3e3;
margin:0 .5em 1em 0;
padding:2px;
}

#secondary #active-account h1 {
font-size:.875em;
font-weight:400;
}

#secondary #active-account h1 span {
color:#999;
margin-top:.2em;
display:block;
}

#secondary #links-nav {
clear:left;
border-top:1px solid #e3e3e3;
padding-top:.8em;
font-size:.875em;
list-style:none;
}

#secondary #links-nav a {
display:block;
padding:.2em 0 .2em .5em;
}

#secondary #links-nav a span {
position:relative;
top:-.2em;
color:#fff;
background:#dc4b39;
font-size:.688em;
margin-left:.5em;
line-height:0;
border-radius:3px;
-moz-border-radius:3px;
-webkit-border-radius:3px;
padding:.3em .5em;
}

#secondary #links-nav a.active {
color:#111;
background:#e5ecf3;
border-radius:3px;
-moz-border-radius:3px;
-webkit-border-radius:3px;
}

#secondary #links-nav a:hover {
background:#e5ecf3;
border-radius:3px;
-moz-border-radius:3px;
-webkit-border-radius:3px;
text-decoration:none;
}

#secondary #links-nav li {
line-height:2em;
border-top:1px solid #fff;
}

#secondary #search {
margin-top:.8em;
font-size:.875em;
}

#secondary #search #q {
width:100%;
border:0;
font-size:.875em;
background:none;
-webkit-appearance:none;
}

#secondary #search .field-border {
border:1px solid #e3e3e3;
border-radius:3px;
-moz-border-radius:3px;
-webkit-border-radius:3px;
background:url(/assets/search-1d90e8316826e47866b8a6020d6ca358.png) 7px 50% no-repeat;
padding:.3em .3em .3em 1.8em;
}

#secondary #search :focus {
outline:0;
}

#footer-container {
border-top:1px solid #e3e3e3;
background:#fff;
}

#footer {
font-size:.75em;
max-width:1200px;
margin:0 auto;
padding:2.25em;
}

#footer p {
float:left;
}

#footer p.top {
float:right;
text-align:right;
}

#footer p.top a {
border:1px solid #e5ecf3;
border-radius:3px;
-moz-border-radius:3px;
-webkit-border-radius:3px;
padding:.5em .8em;
}

#footer p.made-in {
float:right;
background:url(/assets/flag-2d5e42780029a2bd42c4c90cf4865646.png) 0 50% no-repeat;
padding-left:15px;
}

.box {
background:url(/static/bg.png) #dbe7ee;
padding-top:40px;
}

.box .static h1,.box .static h2 {
margin-bottom:.5em;
font-weight:400;
}

.box .static h2 {
padding-top:.5em;
border-top:1px solid #e3e3e3;
}

.box .static p,.box .static ol,.box .static ul {
margin-bottom:1.3em;
line-height:1.3em;
font-size:.875em;
}

.box .static ol li,.box .static ul li {
list-style-position:inside;
margin-bottom:.5em;
}

.box .static .bookmarklet a {
font-size:1.1em;
color:#111;
background:#ccc;
border-radius:1.5em;
-moz-border-radius:1.5em;
-webkit-border-radius:1.5em;
text-shadow:0 1px 0 #FFF;
-moz-text-shadow:0 1px 0 #FFF;
-webkit-text-shadow:0 1px 0 #FFF;
line-height:1em;
cursor:move;
padding:.5em 1em;
}

.box .static .bookmarklet span {
color:#ccc;
font-size:.9em;
line-height:.9em;
margin-left:1em;
}

.box #header #account-nav #account-links {
right:auto;
}

.box #container {
width:90%;
max-width:900px;
background:#fff;
-webkit-box-shadow:0 0 20px #bbb;
-moz-box-shadow:0 0 20px #bbb;
margin:0 auto 40px;
}

.box #main .link-item {
border-bottom:none;
}

.box .forgotten-password {
font-size:.75em;
}

.box form .field {
margin-bottom:1em;
}

.box form .field span {
color:#ccc;
font-size:.75em;
}

.box form .text-area textarea {
height:6em;
font-size:.75em;
}

.box form label {
font-size:.875em;
}

.box form .button {
font-size:.875em;
color:#fff;
background:#005889;
border:0;
cursor:pointer;
border-radius:5px;
-moz-border-radius:5px;
-webkit-border-radius:5px;
padding:.5em .7em;
}

.box #content {
width:90%;
}

.box .addon-content {
border-top:1px dashed #e3e3e3;
text-align:center;
padding:.825em;
}

.box .addon-content img {
padding-right:.825em;
}

.box .addon-content .what-will-happen {
font-size:.875em;
text-align:left;
}

.box .addon-content span.agree-to-policies {
font-size:.75em;
text-align:left;
}

.box .addon-content.omni-auth {
text-align:left;
}

.box .addon-content.omni-auth h3 {
font-weight:400;
font-size:1em;
margin-bottom:.3em;
}

.box .addon-content.omni-auth p {
font-size:.75em;
margin-bottom:.825em;
}

.box #most-used-tags {
display:none;
background:#f6f9fb;
border-radius:3px;
-moz-border-radius:3px;
-webkit-border-radius:3px;
margin-bottom:.825em;
padding:1em;
}

.box #most-used-tags p {
font-size:.75em;
color:#ccc;
padding-bottom:.825em;
}

.box .separate-with-commas {
float:left;
margin-top:.4em;
}

.box .show-most-used-tags-links {
float:right;
margin-top:.4em;
}

.box .ui-autocomplete {
list-style:none;
background:#fff;
border:1px solid #e3e3e3;
border-top:none;
width:1px;
}

.box .ui-autocomplete a {
text-decoration:none;
cursor:pointer;
color:#111;
display:block;
padding:.25em .5em;
}

.box #ui-active-menuitem {
background:#e5ecf3;
}

.box .account-cancellation h3 {
font-weight:400;
}

.box .account-cancellation p {
font-size:.875em;
margin-top:1em;
}

.box.error #header #logo {
height:1.8em;
}

.box.error h1 {
font-size:1.5em;
font-weight:400;
margin-bottom:.825em;
}

.static #top-container {
background:url(/assets/bkg-pattern-2cc3cd18a3d5c858b7df334105e82b53.png) #dbe7ee;
padding-top:20px;
}

.static #top {
width:90%;
max-width:846px;
text-align:center;
margin:0 auto;
}

.static #top #intro {
padding-bottom:20px;
text-shadow:0 1px 0 #FFF;
-moz-text-shadow:0 1px 0 #FFF;
-webkit-text-shadow:0 1px 0 #FFF;
}

.static #top #intro h1 {
margin-bottom:.2em;
}

.static #top #intro h1 span {
white-space:nowrap;
}

.static #top #intro .amp {
font-family:Baskerville,Palatino,"Book Antiqua",serif;
font-weight:400;
font-size:1.2em;
font-style:italic;
}

.static #top img {
max-width:100%;
height:auto;
vertical-align:bottom;
background:url(/assets/big-spinner-1319adfd4f02143f96a806cbb6fc8601.gif) 50% 50% no-repeat;
border:0;
margin:0;
padding:0;
}

.static #bottom-container {
border-top:1px solid #ccc;
padding:20px 0 40px;
}

.static #bottom {
width:90%;
max-width:826px;
margin:0 auto;
}

.static #bottom .sign-up {
font-weight:400;
font-size:1.2em;
border-radius:3px;
-moz-border-radius:3px;
-webkit-border-radius:3px;
padding:20px 0;
}

.static #bottom .sign-up .sign-up-twitter {
float:left;
width:50%;
text-align:center;
}

.static #bottom .sign-up .sign-up-facebook {
float:right;
width:50%;
text-align:center;
}

.static #bottom .sign-up a.button {
border-radius:3px;
-moz-border-radius:3px;
-webkit-border-radius:3px;
color:#fff;
white-space:nowrap;
width:11em;
display:block;
padding:.5em 1.1em;
}

.static #bottom .sign-up a.button.twitter:hover {
text-decoration:none;
background-color:#017ba4;
}

.static #bottom .sign-up a.button.facebook:hover {
text-decoration:none;
background-color:#344777;
}

.static #bottom .sign-up a.button.twitter {
background:#018ebd;
margin:0 5% 0 auto;
}

.static #bottom .sign-up a.button.facebook {
background:#3c5189;
margin:0 auto 0 5%;
}

.static #bottom .sign-up .icon-twitter,.static #bottom .sign-up .icon-facebook {
padding-right:.5em;
}

.static #bottom span.agree-to-policies {
display:block;
font-size:.8em;
text-align:center;
width:90%;
margin:0 auto 20px;
}

.static .row {
margin-top:20px;
}

.static .column {
font-size:.825em;
width:30%;
float:left;
border-top:1px dotted #ccc;
padding-top:20px;
}

.static .column h3 {
margin-bottom:.3em;
}

.static .column h3 span {
margin-right:.3em;
}

.static .column p {
text-align:newspaper;
}

.static .column.middle {
margin:0 5%;
}

:first-child+html .group,:first-child+html ul.tabs,:first-child+html h3.tab {
min-height:1px;
}

:first-child+html #add fieldset#upload input {
border:1px solid #ddd;
background:#fff;
}

@font-face {
font-family:laterthis-icons;
src:url(/assets/laterthis-icons.eot?#iefix) format(embedded-opentype),url(/assets/laterthis-icons.svg#laterthis-icons) format(svg),url(/assets/laterthis-icons-43a81a204b3f3d50e6631f8851761071.woff) 
format(woff),url(/assets/laterthis-icons-b6c00d9a09c6efafe4ccc735c2d6e753.ttf) format(truetype);
font-weight:400;
font-style:normal;
}

[class^=icon-]:before,[class*=" icon-"]:before {
font-family:laterthis-icons;
font-style:normal;
speak:none;
}

.icon-facebook:before {
content:"\21";
}

.icon-twitter:before {
content:"\22";
}

.icon-link:before {
content:"\23";
}

.icon-cloud:before {
content:"\24";
}

.icon-meter-fast:before {
content:"\25";
}

.icon-star:before {
content:"\26";
}

.icon-tag:before {
content:"\27";
}

.icon-iphone:before {
content:"\28";
}

.icon-checkmark:before {
content:"\29";
}

.icon-cog:before {
content:"\2a";
}

.icon-search:before {
content:"\2b";
}

.clear-left,.clear-right {
clear:left;
}

.box form .text-field input,.box form .text-area textarea,.static .bookmarklet-text-area {
font-size:.875em;
border:1px solid #e3e3e3;
background:url(/assets/field-bkg-f5dbdb30ad2bb3fc07dcea4593b8b7d3.png) repeat-x;
width:96%;
padding:.5em;
}

@media only screen and -webkit-min-device-pixel-ratio15,only screen and -o-min-device-pixel-ratio3 2,only screen and min--moz-device-pixel-ratio15,only screen and min-device-pixel-ratio15 {
#header span.title {
background-image:url(/assets/logo@2x-0ff47bf2c9bb38514acc1d627f6b9c36.png);
}
}

@media screen and max-width768px {
#content {
width:100%;
margin:0;
}

#footer {
width:90%;
padding:2.25em 0;
}

.box #header #account-nav {
position:relative;
}

.box #container {
width:100%;
margin:0 auto;
}

.box #content {
width:90%;
margin:2em auto;
}