<!DOCTYPE html>
<html>
  <head>
    <title>Junction.at/api</title>
  </head>
  <body>
    <h1>Junction.at/api</h1>
    <p>
      This document explains the Junction JSON API...
    </p>
    <hr>
    {% for blueprint, doc, endpoints in blueprints: %}
    <h2>{{ blueprint }}</h2>
    {{ doc }}
    <ul>
      {% for (rule, endpoint) in endpoints: -%}
      <li>
        <h3>{{ rule }}</h3>
        <ul>
          {% for method in endpoint: -%}
          <li>
            {{ method.methods }}
            {{ method.doc }}
          </li>
          {%- endfor %}
        </ul>
      </li>
      {%- endfor %}
    </ul>
    {%- endfor %}
  </body>
</html>
