
<!DOCTYPE html>
<html>
  <head>
    <title>Junction.at</title>
    <link href="{{ url_for('static_pages.static', filename='960.css') }}" rel="stylesheet">
    <link href="{{ url_for('static_pages.static', filename='style.css') }}" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Crimson+Text">
    <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700">
    <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Arvo:400,400italic">
    <script src="{{ url_for('static_pages.static', filename='jquery-1.8.2.min.js') }}"></script>
    {% block head -%}
    {%- endblock %}
  </head>
  <body>
    <header>
      <div class=account>
        <div class=container_12>
          {% if current_user.is_authenticated(): -%}
          <ul>
            <li class=profile_link><a class=profile_small href="">{{ current_user.name }}</a></li>
            <li><a href="{{ url_for('bans.your_bans') }}">Your bans</a></li>
            <li><a href="{{ url_for('auth.logout', ext='html') }}">Logout</a></li>
          </ul>
          {%- else -%}
          {% if request.path == url_for('auth.login', ext='html'): -%}
          <a href="{{ url_for('auth.register', ext='html') }}">Sign up</a>
          {%- else: -%}
          <a href="{{ url_for('auth.login', ext='html') }}">Sign in</a>
          {%- endif %}
          {%- endif %}
        </div>
      </div>
      <div class="nav">
        <div class=container_12>
          <div class="logo grid_2"><a href="/"><img src="{{ url_for('static_pages.static', filename='logo.png') }}" alt="Junction home"></a></div>
          <ul>
            <li><a href="{{ url_for('static_pages.pve_landing_page') }}">PvE</a></li>
            <li><a href="{{ url_for('static_pages.survival_landing_page') }}">Survival</a></li>
            <li><a href="{{ url_for('static_pages.chaos_landing_page') }}">Chaos</a></li>
            <li><a href="{{ url_for('forum.index') }}">Forum</a></li>
              <li><a href="{{ url_for('wiki.display_index') }}">Wiki</a></li>
            <li><a href="{{ url_for('static_pages.mumble_info') }}">Mumble</a></li>
          </ul>
        </div>
      </div>
      <div class=page_actions>
        <div class=container_12>
          {% block actions %}{% endblock %}

        </div>
      </div>
    </header>
    <div class="main container_12">
      <div class="topleft grid_8">
        {% block topleft %}{% endblock %}
      </div>
      <div class=clear></div>
      <div class=content>
        {% block content %}{% endblock %}
        <div class=clear></div>
      </div>
    </div>
    <script>
      setTimeout(function () { $('.flash').fadeOut(2000); }, 1500);
      $('.account ul').hover(
        function () {
          $(this).children(':not(.profile_link)').stop().slideDown(100);
        }, 
        function () {
          $(this).children(':not(.profile_link)').stop().slideUp(100);          
        });
    </script>
  </body>
</html>
