{% set header_top = 20 %}

{% extends "base_new.html" %}

{% block head %}
<link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700">
{% endblock %}

{% block body %}
<div class="content">
    {% if breadcrumb_tree %}
    <div class="navbar">
        <div class="breadcrumb">
            {% for name, url in breadcrumb_tree %}
            <a href="{{ url }}">{{ name }}</a>
            {% endfor %}
        </div>
    </div>
    {% endif %}
    {% block content %}

    {% endblock %}
</div>
{% endblock %}