{% extends "base.html" %}

{% set current_page = 'home' %}

{% block content %}
<div class="landing-container">
    <div class="row">
        <div class="small-12 columns">
            <h1>The finer sort of Minecraft community.</h1>
            <h3>Revision 2 has arrived! Join us at p.junction.at.</h3>
            <p><a href="{{ url_for('static_pages.appeal_redir') }}">Banned?</a></p>
        </div>
    </div>
</div>
{% endblock %}

{% block css %}
<style>
body {background: #222222 url(https://i.imgur.com/h3tZWZU.jpg) top center;}
</style>
{% endblock %}
