{% extends "base_newer.html" %}

{% set current_page = 'home' %}

{% block content %}
<section id="intro" class="center">
    <img src="http://i.imgur.com/JIxLxXA.jpg">
</section>
<div class="container">
    <div class="row">
        <div class="span3">
            wat
        </div>
        <div class="span3">
            wat
        </div>
        <div class="span3">
            wat
        </div>
        <div class="span3">
            wat
        </div>
    </div>
</div>
{% endblock %}