{% extends "base_newer.html" %}

{% set current_page = 'home' %}

{% block content %}
<section id="intro" class="center">
    <img src="http://i.imgur.com/JIxLxXA.jpg">
</section>
<div class="container">
    <div class="row">
        <div class="span12 box">
            <div class="container">
                <div class="span3 center">
                    <p><i class="icon-group icon-128" style="display: inline-block;"></i></p>
                </div>
                <div class="span8">
                    <h3 class="rheading">PvE Server <span></span></h3>
                    <span>Connect to </span> <input type="text" onclick="this.select(); return false;" readonly="readonly" value="p.junction.at" style="width: 78px; background-color: inherit;">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

