<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Junction{% endblock %}</title>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=PT+Sans'>
    <link rel='stylesheet' href='/static/css/core.css'>
    <script src='/static/js/core.js'></script>
    {% block head %}

    {% endblock %}
</head>
<body>
<header id='header'>
    <div class='content'>
        <h1 id='logo'>Junction Minecraft Servers</h1>
        <nav id='nav'>
            <a href='/about'>About</a>
            <a href='http://reddit.com/r/Junction'>Community</a>
            {% if current_user.is_authenticated() %}
            <a href='/profile'>{{ current_user.name }}</a>
            {% else %}
            <a href='/login'>Login</a>
            {% endif %}
        </nav>
        <div class='serverblock meta'><h2>Servers</h2></div>
        <div class='serverblock pve'>
            <h2>PvE</h2>
            <p>Survival without PvP.</p>
            <span class='addr'>p.junction.at</span>
        </div>
        <div class='serverblock survival'>
            <h2>Survival</h2>
            <p>Moderated SMP.</p>
            <span class='addr'>s.junction.at</span>
        </div>
        <div class='serverblock event'>
            <h2>Event</h2>
            <p>Event server.</p>
            <span class='addr'>x.junction.at</span>
        </div>
        <div class='serverblock mumble'>
            <h2>Mumble</h2>
            <p>Voicechat with us!</p>
            <span class='addr'>mumble.junction.at</span>
        </div>
    </div>
</header>
{% block content %}

{% endblock %}
<footer id='footer'>
    <div class='content'>Copyright &copy; 2012 - 2013 Junction Minecraft Servers.</div>
</footer>
</body>
</html>