{% extends "base.html" %}

{% set current_page = 'servers' %}

{% set breadcrumb_items = [
{'title': 'Servers', 'url': url_for('static_pages.view_servers')}]
%}

{% block content %}
<div class="servers-container">
    <div class="row">
        <div class="small-12 columns text-center">
            <h4>Fire up Minecraft and join our servers at</h4>
            <h2><code>junction.at</code></h2>
        </div>
    </div>
    <div class="row">
        <div class="small-12 columns">
            <h3>Servers</h3>
            <hr>
        </div>
    </div>
    <div class="row" id="chaos">
        <div class="small-12 medium-3 columns">
            <img src="/static/img/servers_chaos.png">
        </div>
        <div class="small-12 medium-9 columns">
            <div class="panel">
                <h5>Chaos</h5>
                <p>Do you want to blow someone up? Would you like to go raiding for diamonds? Sneak in while no one's home and destroy everything? Feel free. Keep your enemies close, and your diamonds closer (or well hidden).</p>
                <p>This server is also where we test our plugins occassionally. Don't expect any of them to stick around more than a few hours.</p>
                <p>Server can be joined directly by connecting to <code>x.junction.at</code>.</p>
            </div>
        </div>
    </div>
    <div class="row" id="pve">
        <div class="small-12 medium-3 columns">
            <img src="/static/img/servers_pve.png">
        </div>
        <div class="small-12 medium-9 columns">
            <div class="panel">
                <h5>PvE</h5>
                <p>A server with a custom generated map, dedicated to surviving against the environment and building. Build your dream home or join others to construct cities. PvP is not allowed, build protections are available, and chests can be locked so you can protect what you've worked for.</p>
                <p>Server can be joined directly by connecting to <code>p.junction.at</code>.</p>
                <p>Want to see what people have been building? Visit <a href="https://junction.at/carto/pve/">the cartographs</a> and get ideas from today and older map revisions.</p>
            </div>
        </div>
    </div>

{# Old serverlist - 
    <div class="row" id="survival">
        <div class="span3">
            <img src="/static/img/servers_survival.png" style="border-radius: 2px; border: 1px solid #e9e9e9;">
        </div>
        <div class="span9">
          <div class="box">
            <h3 class="rheading">Survival<span></span></h3>
            <p>Fight to the death with people you've never met before in state of the art arenas and vast landscapes. Build a base deep underground and wait for someone to fall into your elaborate trap of fate. Have you gathered up tons of diamonds for your armour and swords? Protect your chests so your enemies won't steal it all.</p>
            <p>Server can be joined directly by connecting to <code>s.junction.at</code>.</p>
            <p>Want to see ideas for your extravagant hideout? Visit <a href="https://junction.at/carto/survival/">the cartographs</a> and get ideas from older map revisions. We don't generate the current revision in order to let people keep their bases private.</p>
          </div>
         </div>
    </div>
    <div class="row" id="event">
        <div class="span3">
            <img src="/static/img/servers_event.png" style="border-radius: 2px; border: 1px solid #e9e9e9;">
        </div>
        <div class="span9">
          <div class="box">
            <h3 class="rheading">Events<span></span></h3>
            <p>Always changing, the event server gives you a place to experience the best of Minecraft maps from famous creators, or highlights from our players. Want to see what is coming up next? Visit the <a href="{{ url_for('calendar.view_calendar') }}">calendar</a> and get info about upcoming events.</p>
            <p>Server can be joined directly by connecting to <code>e.junction.at</code>.</p>
          </div>
         </div>
    </div>
#}
</div>
{% endblock %}
