{% extends "base_new.html" %}

{% set breadcrumb_items = [
{'title': 'Donate', 'url': url_for('donations.donate')},
{'title': 'Add Payment', 'url': url_for('donations.add_payment')}]
%}

{% set title = 'Donate - Add Payment' %}

{% block content %}
<div class="add-payment-container">
    <div class="row">
        <div class="small-12 columns">
            <form class="panel" action="" method="post">
                {{ form.hidden_tag() }}
                {%- if form.errors.values() %}
                <div class="alert-box alert radius">
                    {{ form.errors.values()[0][0] }}
                </div>
                {%- endif %}
                {{ form.amount.label }}
                {{ form.amount(placeholder="50 ($)") }}
                {{ form.note.label }}
                {{ form.note }}
                {{ form.start_date.label }}
                {{ form.start_date(placeholder="Eg. 2013-12-31") }}
                {{ form.end_date.label }}
                {{ form.end_date(placeholder="Eg. 2014-01-31") }}
                {{ form.submit(class="button") }}
            </form>
        </div>
    </div>
</div>
{% endblock %}
