{% extends "base.html" %}

{% set breadcrumb_items = [
{'title': 'Donate', 'url': url_for('donations.donate')}]
%}

{% set title = 'Donate' %}

{% block content %}
<div class="donate-container">
    <div class="row">
        <div class="small-12 columns">
            <div class="alert-box alert radius" data-alert>
                Not all features on here are finished just yet. Donations are working just fine though.
            </div>
            {%- if not current_user.is_authenticated() %}
            <div class="alert-box info radius" data-alert>
                Please log in to your account before donating to claim any possible swag.
            </div>
            {%- endif %}
        </div>
    </div>
    <div class="row">
        <div class="small-12 columns">
            <div class="panel">
                <div class="progress">
                    <div class="meter" style="width: {{ funds_current / funds_target * 100 }}%;"></div>
                </div>
                <div>${{ funds_current }} raised of ${{ funds_target }}</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="small-12 medium-4 medium-offset-4 columns text-center">
            <div class="panel">
                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" style="margin: 0;">
                    <input type="hidden" name="cmd" value="_s-xclick">
                    <input type="hidden" name="hosted_button_id" value="72TWX9774QACJ">
                    <input type="hidden" name="custom" value="{{ signed_user }}">
                    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                    <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="small-12 medium-6 columns stats">
            <div class="panel">
                <h3>Stats</h3>
                <span>Number of donations: {{ num_donations }}</span><br>
                <span>Total donations: ${{ total_donations }}</span><br>
                <span>Amount taken by Paypal: ${{ total_fees }}</span><br>
                <a href="{{ url_for('donations.payments_view') }}">See payments</a><br>
            </div>
        </div>
        <div class="small-12 medium-6 columns top">
            <div class="panel">
                <h3>Top donations</h3>
                <table>
                    <thead>
                        <tr>
                            <th>User</th>
                            <th>Amount (-fees)</th>
                        </tr>
                    </thead>
                    <tbody>
                        {%- for donation in top_donations %}
                        <tr>
                            <td>{{ donation.username or 'Anonymous' }}</td>
                            <td>${{ donation.gross }} (-${{ donation.fee }})</td>
                        </tr>
                        {%- endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
