{% extends "settings_base.html" %}

{% set current_settings_pane = "avatar" %}
{% set current_settings_path = [{'title': "Account"}, {'title': "Profile Picture", 'url': url_for('avatar.avatar_control')}] %}

{% block settings_pane %}
<div class="row">
    <div class="small-12 medium-4 medium-offset-4 columns">
        <div class="panel text-center">
            <img src="{{ url_for('avatar.get_avatar', name=name) }}">
        </div>
    </div>
</div>
<div class="row">
    <div class="small-12 columns">
        <div class="panel">
            <form action="." method="post" enctype="multipart/form-data">
                {{ avatar_form.hidden_tag() }}
                <h3>Upload image</h3>
                {{ avatar_form.image }}
                {{ avatar_form.upload_button(class="button") }}
                <h3>Use skin face</h3>
                {{ avatar_form.mc_skin_button(class="button") }}
            </form>
        </div>
    </div>
</div>
{% endblock %}
